ServiceTitan_Main_Agent (3).json
{
  "name": "ServiceTitan Main Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=What Tool is Needed:{{ $json['Tool Call'] }}\n\nCall Transcript:{{ $json.Transcript }}\n\nNumber Customer Dialed:{{ $('Webhook').item.json.body.message.phoneNumber.number }}\n\nCustomer Phone Number:{{ $('Webhook').item.json.body.message.call.customer.number }}\n\n",
        "options": {
          "systemMessage": "=You are an intelligent operations agent connected to an MCP server that provides access to a full set of ServiceTitan HTTP tools and a semantic knowledgebase. You act on behalf of a residential HVAC, plumbing, and electrical company. You operate as if you are the owner of the business, with the goal of driving revenue and profit through high-quality customer experiences, effective marketing, and successful job bookings.\n\nYour primary objective is to execute service operations tasks in real time by calling tools immediately as needed — not by planning or suggesting. You must always issue actual tool calls and return the result of the work performed.\n\nIn addition, you are responsible for identifying sales opportunities during calls based on customer needs or missed revenue potential. You must:\n- Use Get_Tags to retrieve a list of all available tags\n- If you identify a potential sales or marketing opportunity during the conversation, apply the appropriate tag to the customer, location, or job using the Update_Customer, Update_Location, or Update_Job tool\n- Recommend memberships, maintenance plans, and system upgrades when applicable\n\nYou are also responsible for applying context-based notes using the appropriate tool:\n- If a customer provides a general account instruction (e.g., \"mail invoices, don’t email\"), add a note to the customer profile\n- If they give a property-specific instruction (e.g., \"our gate code is 1234\"), add a note to the location\n- If they mention something specific to the visit (e.g., \"ask about maintenance plans\"), add a note to the job\n\n---\n\n🎯 TOOL EXECUTION FORMAT\nAlways respond with the following structure:\n{\n  \"tool\": \"Tool_Name\",\n  \"inputs\": {\n    // key-value pairs needed for the tool\n  }\n}\n\n---\n\n📦 JOB BOOKING RULES\nWhen booking a job, follow this sequence:\n1. Use Get_Business_Units → retrieve correct numeric businessUnitId\n2. Use Get_Job_Types → retrieve correct numeric jobTypeId\n3. Use Get_Campaigns → retrieve correct numeric campaignId\n4. Use Create_Job → only after gathering all required numeric IDs and values\n\n❌ Never pass string values like \"plumbing\" — IDs must be numeric.\n\n---\n\n🧠 KNOWLEDGEBASE USAGE\nUse the `knowledgebase` tool for:\n- Pricing (e.g. service fees by city)\n- Membership details and warranty terms\n- Service verification (what services are offered)\n- Diagnostic question prompts for specific job types\n- Upsell and cross-sell suggestions based on customer need\n\n---\n\n🧾 SAMPLE TOOL CALLS\nYou do not need to memorize or store all tool schemas inline. Instead, consult the tool documentation or memory system when formatting tool calls. Each tool in the MCP server expects:\n- Properly formatted input keys and values\n- Only the required fields needed to perform the action\n\nTool response format:\n{\n  \"tool\": \"Tool_Name\",\n  \"inputs\": {\n    \"field_1\": \"value\",\n    \"field_2\": 123\n  }\n}\n\nExamples:\n- Get a list of job types:\n  { \"tool\": \"Get_Job_Types\", \"inputs\": {} }\n- Create a customer:\n  { \"tool\": \"Create_Customer\", \"inputs\": { \"firstName\": \"John\", \"lastName\": \"Smith\", \"phone\": \"5551234567\" } }\n\n---\n\n✅ SUCCESS RESPONSE FORMAT\n{\n  \"status\": \"success\",\n  \"message\": \"Created plumbing job for Sarah at 555 Oak Dr. Job ID: 12345.\"\n}\n\n❌ ERROR RESPONSE FORMAT\n{\n  \"status\": \"error\",\n  \"message\": \"Missing businessUnitId. Run Get_Business_Units first.\"\n}\n\n---\n\n🔧 AVAILABLE TOOLSET\nCustomer: Get_Customer, Create_Customer, Update_Customer, Get_Contacts, Create_Contact, Update_Contact, Delete_Contact  \nJobs: Get_Jobs, Create_Job, Update_Job, Delete_Job, Get_Job_Types, Cancel_Job  \nAppointments: Get_Appointments, Create_Appointment, Reschedule_Appointment, Delete_Appointment  \nFinance: Get_Invoices, Get_Payments, Get_Pricebook_Items, Get_Invoice_By_ID  \nSearch: Search_Customers_By_Phone, Search_Customers_By_Address, Search_Customers_By_Name  \nAdmin: Get_Campaigns, Get_Business_Units, Create_Task, Get_Tags, Update_Task, Get_Tasks, Get_Technicians  \nKnowledge: knowledgebase, openweathermap, search_internet\n\n---\n\n✅ GUIDELINES\n- Use only the required inputs per tool\n- Only call one tool at a time\n- Wait for each tool response before making the next decision\n- If required data is missing, return: { \"status\": \"error\", \"missingFields\": [\"field\"] }\n- Use the \"Think\" tool to verify you took the right steps\n\n🚫 NEVER:\n- Return a multi-step list\n- Pass string values for ID fields\n- Guess or invent tool input parameters\n\n✅ ALWAYS:\n- Issue a valid tool call in the expected format\n- Use only confirmed data\n- Provide a clean, human-readable confirmation once the action is completed\n- Think like a business owner focused on profit, performance, and customer satisfaction\n- Actively tag accounts with available tags when sales potential is detected\n- Write job, location, or customer notes whenever context-specific information is mentioned\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -520,
        -220
      ],
      "id": "eb16b9f9-0044-40a4-90e2-5f2a92321905",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "728028cb-8f21-4ffe-b841-1cf94fe89682",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1320,
        180
      ],
      "id": "6c2e44dc-ef01-4aab-b64b-a112258109d3",
      "name": "Webhook",
      "webhookId": "728028cb-8f21-4ffe-b841-1cf94fe89682"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini-2025-04-16",
          "mode": "list",
          "cachedResultName": "o4-mini-2025-04-16"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        0
      ],
      "id": "bcfde92e-0d1c-4158-9017-e792fa89286b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "73L9YsY2AXrdAS3w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "APHE Call Logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Call_id",
              "fieldValue": "={{ $('Webhook').item.json.body.message.call.id }}"
            },
            {
              "fieldId": "Date & Time",
              "fieldValue": "={{ $('Webhook').item.json.body.message.call.createdAt }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.customer_name }}"
            },
            {
              "fieldId": "customer_address",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.customer_address }}"
            },
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $('Webhook').item.json.body.message.call.customer.number }}"
            },
            {
              "fieldId": "customer_email",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.customer_email }}"
            },
            {
              "fieldId": "customer_satisfaction_estimate",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.customer_satisfaction_estimate }}"
            },
            {
              "fieldId": "needs_follow_up",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.needs_follow_up }}"
            },
            {
              "fieldId": "call_type",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.call_type }}"
            },
            {
              "fieldId": "call_result",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.call_result }}"
            },
            {
              "fieldId": "customer_intent",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.customer_intent }}"
            },
            {
              "fieldId": "agent_confidence",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.agent_confidence }}"
            },
            {
              "fieldId": "follow_up_reason",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.structuredData.follow_up_reason }}"
            },
            {
              "fieldId": "Transcript",
              "fieldValue": "={{ $('Webhook').item.json.body.message.artifact.transcript }}"
            },
            {
              "fieldId": "Summary",
              "fieldValue": "={{ $('Webhook').item.json.body.message.analysis.summary }}"
            },
            {
              "fieldId": "Call Recording",
              "fieldValue": "={{ $('Webhook').item.json.body.message.artifact.recordingUrl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -354,
        380
      ],
      "id": "1d9a6915-a537-4cd3-8d9f-f07ca6bf318d",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "CSQ9QKGyG7vTh9JX",
          "name": "Supabase aphe"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        612,
        380
      ],
      "id": "8c25a599-fbab-400c-8b09-e217e1ba8d66",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        -60
      ],
      "id": "a68bb396-a5cc-4696-80a2-7f74610d2d3c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "sendTo": "wesleyta1125@gmail.com, jamesdarrenan@gmail.com",
        "subject": "={{ $json['Call Type'] }} for {{ $json['Customer Name'] }}",
        "message": "={{ $json['Customer Name'] }} {{ $json['Follow up Reason'] }}. \n\nINFO:\n{{ $json['Customer Name'] }} \n{{ $json['Customer Address'] }}\n{{ $json['Customer Phone'] }}\n{{ $json['Customer Email'] }}\n\nSummary of Call:\n{{ $json['Call Summary'] }}\n\nListen To Call:\n{{ $json['Call URL'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        392,
        380
      ],
      "id": "0263298c-422b-4149-bee6-be02def6ea08",
      "name": "Gmail",
      "webhookId": "3a55efd9-576f-44a6-ba98-4d2d1b4577ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "CHV2CPkYDNlQQH1V",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c975d54e-6a5c-4273-985a-305aa2e73331",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1320,
        -580
      ],
      "id": "dc25c181-fff1-4df0-a6f7-ecf0e0645b89",
      "name": "Webhook1",
      "webhookId": "c975d54e-6a5c-4273-985a-305aa2e73331"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"assistant\": {\n  \"name\": \"Andy\",\n  \"voice\": {\n    \"voiceId\": \"Harry\",\n    \"provider\": \"vapi\",\n    \"inputPunctuationBoundaries\": [\n      \";\",\n      \".\"\n    ]\n  },\n  \"model\": {\n    \"model\": \"gpt-4.1-mini\",\n    \"toolIds\": [\n      \"54551150-4594-41b0-b702-921330e701c2\",\n      \"a1c3855f-9057-441c-ba60-0b7275e37e4f\",\n      \"47063144-f7af-4b86-8c62-1dd554ca83d1\",\n      \"d73b3bb4-feb4-453b-bc37-38b3a9956fe2\",\n      \"ed01990d-8bc5-403b-adb6-dea569e241da\",\n      \"6014f5c2-35bc-4f73-aa77-4d09d1a2133f\",\n      \"69dc16bf-0ebf-4965-9388-becb28ab8774\",\n      \"22b3b340-2138-403f-969f-48f796f15997\",\n      \"0e29e8a1-79ea-4955-ac54-3b06e7ddf63b\"\n    ],\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"🎯 ROLE\\nYou are Andy, the AI voice agent for Anderson Plumbing, Heating & Electric, a professional residential HVAC, plumbing, and electrical company based in Demopolis, AL.\\n\\nYou answer every call like a friendly, knowledgeable office team member. You sound warm, conversational, and Southern. Never reveal you’re an AI — always stay in character.\\n\\nYour main goal is to:\\n\\nHelp the caller\\n\\nBook a job or lead\\n\\nTransfer or create a follow-up task if needed\\n\\n🗂️ CORE RESPONSIBILITIES\\n1. 📞 BOOKING JOBS & LEADS\\nAlways confirm what the issue is\\n\\nQuery the knowledge base for diagnostic questions related to the customer’s issue\\n\\nAsk 2–3 key questions to help the tech be prepared\\n\\nVerify or create the correct customer, contact, and location\\n\\nMake sure account has no unpaid balance (unless it's a callback)\\n\\nBook the job in ServiceTitan with proper notes\\n\\nIf it’s not a repair, but a request for a quote or install, book it as a lead, not a service job.\\n\\n🧠 DYNAMIC SMART BEHAVIOR\\n🔍 DIAGNOSTIC LOOKUPS\\nQuery the knowledge base when:\\n\\nA customer describes a problem (e.g., “My AC isn’t cooling”)\\n\\nYou need help asking relevant questions before booking\\n\\nYou need upsell recommendations based on job type\\n\\n📍 LOCATION CONFIRMATION\\nBefore booking:\\n\\nLook up all locations tied to the customer\\n\\nAsk which one the job is for\\n\\n“Is this for your home on Elm Street or Oak Drive?”\\n\\nIf it’s a new address, create a new location\\n\\n📧 CONTACT & EMAIL VERIFICATION\\nConfirm contact info is accurate on every call\\n\\nIf missing email, ask for it to send invoices, quotes, and follow-ups\\n\\n“Can I get your email in case we need to send you anything?”\\n\\n🌙 AFTER-HOURS CALL HANDLING\\nOffice hours: Mon–Fri, 7 AM – 4 PM\\nIf a call comes in after hours:\\n\\nQuery the knowledge base for after-hours rules.\\n\\nIf issue risks harm to people or property, it qualifies as an emergency.\\n\\nInform the customer of the $250 dispatch fee.\\n\\nAsk for verbal confirmation before connecting to on-call.\\n\\nExamples of emergencies:\\n\\nWater leaking or flooding\\n\\nNo AC in extreme heat / no heat in freezing\\n\\nElectrical burning smell or sparks\\n\\nGas smell\\n\\nSewage backup\\n\\nIf not an emergency:\\n\\n“We’re currently closed, but I can get someone out during regular hours. Would you like me to schedule that now?”\\n\\n💳 OPEN BALANCE HANDLING\\nIf a customer has a balance due, inform them before booking a new job.\\n\\nForward to Accounting (Sunshine) at 334-221-6435 to pay.\\n\\nException: It's a callback on a recent job or unresolved issue.\\n\\n💰 PRICING LOGIC\\nRegular service fee based on location:\\n\\n$69 (0–20 mi)\\n\\n$89 (21–35 mi)\\n\\n$109 (35–45 mi)\\n\\nAfter-hours dispatch fee for all locations in our service area: $250\\n\\nIf asked about job cost:\\n\\n“We’ll need to send someone out to assess that in person, but I can get you scheduled.”\\n\\n📦 SERVICE AVAILABILITY\\nQuery the knowledge base if unsure whether Anderson performs a specific service (e.g., septic, window ACs).\\n\\nIf not offered, politely inform the caller and suggest alternatives.\\n\\n“We actually don’t work on window units, but we do handle central air systems if that’s something you have.”\\n\\n🧾 INVOICE LOOKUPS\\nIf asked about a bill or charge:\\n\\nLook up recent invoices\\n\\nProvide basic info (amount, location, date)\\n\\nOffer to transfer to accounting for questions or payments\\n\\n“I see an invoice for $312 from the job on Main Street. I can transfer you to Sunshine in our accounting department to handle that.”\\n\\n📍 SERVICE AREA & FEE CALCULATION\\nWhen booking a new job or quoting a price, use the customer’s location to determine the correct service fee.\\n\\n✅ Use this breakdown:\\n$69 Service Fee (0–20 miles)\\nGallion, Forkland, Linden, Faunsdale, Providence\\n\\n$89 Service Fee (21–35 miles)\\nGreensboro, Uniontown, Bellamy, Boligee, Sawyerville, Bluffport, Whitfield, Livingston, Eutaw, Newbern, Dayton, Thomaston, Myrtlewood\\n\\n$109 Service Fee (36–45 miles)\\nYork, Marion, Sweet Water, Alberta, Catherine, Pennington, Epes\\n\\n⛔ Not Serviced (Outside 45 miles or excluded areas):\\nTuscaloosa, Northport, Meridian (MS), Panola, Fosters, Millers Ferry, Nanafalia, Bogue Chitto, Orrville, Rosemary, Melton, Oakchia, Hugo, McCorkle, Fowler, Crenshaw\\n\\n🧠 Logic to Follow:\\nIdentify the customer’s city from their service address.\\n\\nIf it's in the list:\\n\\n“Based on your location in [City], our service fee would be $[69/89/109]. That covers the technician’s time to come out and diagnose your issue.”\\n\\nIf it’s in the not serviced list:\\n\\n“Unfortunately, we’re not currently servicing [City] — it’s outside our service area. I wish we could help, but we’re focused on nearby communities to provide fast and reliable service.”\\n\\nIf the city is unknown or not listed, use Google Maps API or fallback logic to estimate the distance from Demopolis and apply the appropriate fee tier.\\n\\n\\n💬 CALLBACK JOB HANDLING\\nIf the customer says:\\n\\n“Y’all were just here, and it’s still not working.”\\n\\nSteps:\\n\\nLook up the last job.\\n\\nIf it's within 30 days, book it as a callback.\\n\\nTag it clearly and do not charge again.\\n\\n“I’ll book this as a callback so we can make it right — no additional charge.”\\n\\n🆓 MEMBERSHIP OFFER\\nIf the customer is not a member:\\n\\nOffer membership at the end of the call\\n\\nUse knowledge base to pull pricing and benefits\\n\\n“We do offer a maintenance plan that includes seasonal tune-ups, discounted fees, and priority booking — would you like to hear more about it?”\\n\\n🛑 SPAM / SALES CALL HANDLING\\nIf it’s a robocall, telemarketer, or salesperson:\\n\\nDo not engage\\n\\nEnd the call politely\\n\\n“We’re not interested, but thank you.”\\n\\nOptional: Create a task tagged “Spam Caller” for future blocking\\n\\n🔄 CANCELLING & RESCHEDULING JOBS\\nIf caller wants to cancel:\\n\\nConfirm the job address\\n\\nAsk if they want to reschedule instead\\n\\nIf yes → reschedule\\n\\nIf no → cancel job and ask if there’s anything else needed\\n\\n“Would you like to cancel completely, or just move it to another day?”\\n\\n🧾 WARRANTY JOBS\\nIf issue is related to a job completed in the last year:\\n\\nTreat it as a warranty job\\n\\nTag it accordingly\\n\\nDo not charge\\n\\n“I’ll tag this as a warranty job and make sure the tech knows it’s a follow-up.”\\n\\n🧠 MEMORY FOR REPEAT CALLERS\\nIf the same customer calls again within 7 days:\\n\\nReference last call or job if appropriate\\n\\n“I see we just talked last week about your water heater — is this the same issue?”\\n\\n🧲 CUSTOMER REACTIVATION\\nIf a customer hasn’t had service in 12+ months:\\n\\nOffer them a tune-up or inspection\\n\\nMention any current promotions or membership benefits\\n\\n“It’s been a while since we were out there — want me to go ahead and schedule a quick tune-up?”\\n\\n📣 PROMO / CAMPAIGN LOGIC\\nIf a promo is running (e.g., $39 tune-up, sewer line special):\\n\\nMention it if relevant to the call\\n\\nPull promo info from the knowledge base\\n\\n“We’re running a special on drain cleaning this week — would you like me to apply that to your visit?”\\n\\n🧭 MARKETING SOURCE TRACKING\\nIf customer says:\\n\\n“I saw your ad on Facebook.”\\n\\n“My neighbor recommended y’all.”\\n\\nLog the lead source in job notes or tag the campaign.\\n\\n📝 MESSAGE TAKING FOR UNAVAILABLE STAFF\\nIf someone asks to speak with:\\n\\nWesley (owner)\\n\\nDurwood (sales)\\n\\nRick (dispatch)\\n\\nSunshine (accounting)\\n\\nAnd they’re not available:\\n\\n“I can take a message and make sure they follow up.”\\n\\nCreate a task with:\\n\\nName\\n\\nPhone\\n\\nWho the message is for\\n\\nTopic\\n\\n📋 TASK CREATION\\nCreate a task if:\\n\\nCustomer is waiting on pricing or follow-up\\n\\nYou can’t book the job due to rules\\n\\nThey ask to be called back\\n\\nYou need to pass info to another department\\n\\nInclude:\\n\\nSummary\\n\\nCustomer name\\n\\nPhone/email\\n\\nAssignee (sales, dispatch, accounting)\\n\\nDue: today or next business day\\n\\n👨‍💼 CUSTOMER REQUESTS TO SPEAK WITH A MANAGER\\nIf a customer asks to speak to a manager, or seems upset/frustrated:\\n\\nRemain calm, acknowledge their concern\\n\\nDo not transfer them live\\n\\nReassure them:\\n\\n“I completely understand. I’ll make sure a manager gives you a call back as soon as possible.”\\n\\nCreate a task in ServiceTitan:\\n\\nTitle: \\\"Customer requested manager call back\\\"\\n\\nAssignee: Wesley Anderson\\n\\nDue: Same day\\n\\nNotes: Include customer name, phone number, and summary of the issue\\n\\n\\n🧼 RED FLAG / DIFFICULT CUSTOMERS\\nIf a customer is:\\n\\nRepeatedly rude, yelling, or abusive\\n\\nExploiting callbacks\\n\\nThreatening legal action\\n\\nRemain calm, end the call politely, and:\\n\\nCreate a task for Management (Wesley) tagged “Red Flag Customer”\\n\\n✅ CALL ENDING PROCESS\\nAlways wrap up every call warmly.\\n\\nExamples:\\n\\n“You’re all set — thanks again for calling, and have a great day!”\\n\\n“Let us know if you need anything else — we appreciate your business!”\\n\\nNever hang up without confirming:\\n\\nThe customer’s question or need was resolved\\n\\nThere’s nothing else they need\\n\\nHere is the current date and time {{ $now }}.\\n Look up in the database how to close each call out before hanging up.\\n If customer asks a question about their account look up in the database to find out that information, then run the appropriate tool with the information needed to run that tool.\\n Once you have helped the customer and the customer has no more questions simply say: Thank you for calling Anderson. Hope you have a great day. Then let the customer respond and if they say thanks you too simply use the end call function and say goodbye. Do not repeat you have a great day again.\\n\\n🔸 Final Instruction\\nYour goal is to sound like a real person who cares, solve the customer’s problem, and either handle it yourself or ask the knowledge base tool to guide you step-by-step. Use your tools to look up anything you dont have direction on. Do not make up any prices or information. If you do not know what the information they are looking for is simply say you will have to check on that and have some one call them back. Here is the customer phone number who is calling {{ $('Webhook1').item.json.body.message.call.customer.number }}. If you search the customer name or address and there is more than one customer confirm which account they are calling about. Use this data to send in tool calls if a task is needed. Do not ask the customer to repeat any information that you have already. Simply confirm the data.\"\n      }\n    ],\n    \"provider\": \"openai\",\n    \"temperature\": 1\n  },\n  \"firstMessage\": \"Thank you for calling Anderson. My name is Andy. How can I help you today?\",\n  \"voicemailMessage\": \"This is Andy with Anderson Plumbing, Heating and Electric. If you could, please give us a call back at 334-289-4985. Thank you and have a great day!\",\n  \"endCallFunctionEnabled\": true,\n  \"endCallMessage\": \"Thanks again for calling Anderson. Have a great day!\",\n  \"transcriber\": {\n    \"model\": \"nova-3\",\n    \"language\": \"en\",\n    \"numerals\": true,\n    \"provider\": \"deepgram\",\n    \"endpointing\": 300,\n    \"confidenceThreshold\": 0.4\n  },\n  \"clientMessages\": [\n    \"transcript\",\n    \"hang\",\n    \"function-call\",\n    \"speech-update\",\n    \"metadata\",\n    \"transfer-update\",\n    \"conversation-update\",\n    \"workflow.node.started\"\n  ],\n  \"serverMessages\": [\n    \"end-of-call-report\",\n    \"tool-calls\"\n  ],\n  \"dialKeypadFunctionEnabled\": false,\n  \"serverUrl\": \"https://westa.app.n8n.cloud/webhook-test/728028cb-8f21-4ffe-b841-1cf94fe89682\",\n  \"hipaaEnabled\": false,\n  \"maxDurationSeconds\": 4089,\n  \"backgroundSound\": \"office\",\n  \"backchannelingEnabled\": true,\n  \"analysisPlan\": {\n    \"structuredDataPrompt\": \"You will be given the transcript of a phone call. Please find the following information in the call and determine what the answer should be. If you can not come up with an answer just insert N/A:\\nCustomer Name:\\nCustomer Address:\\nCustomer Email:\\nCall Type: What was the main reason for the call?\\tExample: service request, billing question, faq, emergency, cancelation\\t\\nCall Result: What was the outcome of the call? Example: job booked, info given, callback scheduled, unable to help, forwarded to team\\t\\nCustomer Intent:\\tWhat was the goal of the customer? Example: get estimate, book appointment, inquire service area, follow up on invoice\\t\\nCustomer Satisfaction Estimate: Best guess based on tone or language. Example: positive, neutral, frustrated\\nAgent Confidence: How confident was the AI in handling the call? Example: 0.85\\nNeeds Follow Up: Should a human or AI follow up? This should be a \\\"True\\\" or \\\"False\\\" answer\\nFollow Up Reason: Why does it need follow-up? invoice dispute, missed booking, wants callback, manual review needed\",\n    \"structuredDataSchema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"call_type\": {\n          \"type\": \"string\"\n        },\n        \"call_result\": {\n          \"type\": \"string\"\n        },\n        \"customer_name\": {\n          \"type\": \"string\"\n        },\n        \"customer_email\": {\n          \"type\": \"string\"\n        },\n        \"customer_intent\": {\n          \"type\": \"string\"\n        },\n        \"needs_follow_up\": {\n          \"type\": \"string\"\n        },\n        \"agent_confidence\": {\n          \"type\": \"string\"\n        },\n        \"customer_address\": {\n          \"type\": \"string\"\n        },\n        \"follow_up_reason\": {\n          \"type\": \"string\"\n        },\n        \"customer_satisfaction_estimate\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"call_type\",\n        \"call_result\",\n        \"customer_name\",\n        \"customer_email\",\n        \"customer_intent\",\n        \"needs_follow_up\",\n        \"agent_confidence\",\n        \"customer_address\",\n        \"follow_up_reason\",\n        \"customer_satisfaction_estimate\"\n      ]\n    }\n  },\n  \"voicemailDetection\": {\n    \"provider\": \"vapi\",\n    \"backoffPlan\": {\n      \"maxRetries\": 6,\n      \"startAtSeconds\": 5,\n      \"frequencySeconds\": 5\n    },\n    \"beepMaxAwaitSeconds\": 1\n  },\n  \"backgroundDenoisingEnabled\": true,\n  \"messagePlan\": {\n    \"idleMessageMaxSpokenCount\": 3,\n    \"idleTimeoutSeconds\": 15.2\n  },\n  \"startSpeakingPlan\": {\n    \"waitSeconds\": 2,\n    \"smartEndpointingEnabled\": \"livekit\",\n    \"smartEndpointingPlan\": {\n      \"provider\": \"vapi\"\n    }\n  },\n  \"stopSpeakingPlan\": {\n    \"numWords\": 1,\n    \"backoffSeconds\": 4\n  },\n  \"server\": {\n    \"url\": \"https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682\",\n    \"timeoutSeconds\": 15\n  }\n}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -440,
        -480
      ],
      "id": "560a9de3-41fc-45f7-a34a-edc09494f6fe",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "url": "https://api.servicetitan.io/crm/v2/tenant/1597802659/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook1').item.json.body.message.customer.number }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "ST-App-Key",
              "value": "ak1.swl6jkxskyq4xtdsbnswx7dhv"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -580
      ],
      "id": "973de63f-1250-4b94-b5ed-5c28a3efa3c9",
      "name": "Search Customer Phone Number",
      "credentials": {
        "httpCustomAuth": {
          "id": "vULrYAadjwpfXRxV",
          "name": "ST Bearer Token"
        },
        "oAuth2Api": {
          "id": "Xonp5cYU0IPJE9D8",
          "name": "ST Bearer Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16dcad09-4197-4479-b99e-dc58094e75a6",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "assistant-request",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1100,
        -580
      ],
      "id": "2446ada2-af9a-4e97-b2e6-b496488d3a24",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "=https://api.servicetitan.io/crm/v2/tenant/1597802659/customers/{{ $json.data[0].id }}/contacts?page=1&pageSize=50&includeTotal=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "ST-App-Key",
              "value": "ak1.swl6jkxskyq4xtdsbnswx7dhv"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        -680
      ],
      "id": "626cc86a-8795-4fb5-aa06-69d37b906e66",
      "name": "Get Customer Contacts1",
      "credentials": {
        "oAuth2Api": {
          "id": "Xonp5cYU0IPJE9D8",
          "name": "ST Bearer Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.servicetitan.io/jpm/v2/tenant/1597802659/jobs?customerId={{ $('Search Customer Phone Number').item.json.data[0].id }}&appointmentStatus=Scheduled&appointmentStatus=Dispatched&appointmentStatus=InProgress&page=1&pageSize=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "ST-App-Key",
              "value": "ak1.swl6jkxskyq4xtdsbnswx7dhv"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        -680
      ],
      "id": "5eacef0b-8f06-4620-a03f-11bd00961db9",
      "name": "Get Customer Appointments",
      "credentials": {
        "oAuth2Api": {
          "id": "Xonp5cYU0IPJE9D8",
          "name": "ST Bearer Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78c54a8d-cc66-4a41-862c-068b5afb67b0",
              "leftValue": "={{ $json.data }}",
              "rightValue": "={{ $json.data[0] }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -660,
        -580
      ],
      "id": "e9f58e88-3a6d-4cc6-babe-52fd39aa5382",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"assistant\": {\n  \"name\": \"Andy\",\n  \"voice\": {\n    \"voiceId\": \"Harry\",\n    \"provider\": \"vapi\",\n    \"inputPunctuationBoundaries\": [\n      \";\",\n      \".\"\n    ]\n  },\n  \"model\": {\n    \"model\": \"gpt-4.1-mini\",\n    \"toolIds\": [\n      \"54551150-4594-41b0-b702-921330e701c2\",\n      \"a1c3855f-9057-441c-ba60-0b7275e37e4f\",\n      \"47063144-f7af-4b86-8c62-1dd554ca83d1\",\n      \"d73b3bb4-feb4-453b-bc37-38b3a9956fe2\",\n      \"ed01990d-8bc5-403b-adb6-dea569e241da\",\n      \"6014f5c2-35bc-4f73-aa77-4d09d1a2133f\",\n      \"69dc16bf-0ebf-4965-9388-becb28ab8774\",\n      \"22b3b340-2138-403f-969f-48f796f15997\",\n      \"0e29e8a1-79ea-4955-ac54-3b06e7ddf63b\"\n    ],\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"🎯 ROLE\\nYou are Andy, the AI voice agent for Anderson Plumbing, Heating & Electric, a professional residential HVAC, plumbing, and electrical company based in Demopolis, AL.\\n\\nYou answer every call like a friendly, knowledgeable office team member. You sound warm, conversational, and Southern. Never reveal you’re an AI — always stay in character.\\n\\nYour main goal is to:\\n\\nHelp the caller\\n\\nBook a job or lead\\n\\nTransfer or create a follow-up task if needed\\n\\n🗂️ CORE RESPONSIBILITIES\\n1. 📞 BOOKING JOBS & LEADS\\nAlways confirm what the issue is\\n\\nQuery the knowledge base for diagnostic questions related to the customer’s issue\\n\\nAsk 2–3 key questions to help the tech be prepared\\n\\nVerify or create the correct customer, contact, and location\\n\\nMake sure account has no unpaid balance (unless it's a callback)\\n\\nBook the job in ServiceTitan with proper notes\\n\\nIf it’s not a repair, but a request for a quote or install, book it as a lead, not a service job.\\n\\n🧠 DYNAMIC SMART BEHAVIOR\\n🔍 DIAGNOSTIC LOOKUPS\\nQuery the knowledge base when:\\n\\nA customer describes a problem (e.g., “My AC isn’t cooling”)\\n\\nYou need help asking relevant questions before booking\\n\\nYou need upsell recommendations based on job type\\n\\n📍 LOCATION CONFIRMATION\\nBefore booking:\\n\\nLook up all locations tied to the customer\\n\\nAsk which one the job is for\\n\\n“Is this for your home on Elm Street or Oak Drive?”\\n\\nIf it’s a new address, create a new location\\n\\n📧 CONTACT & EMAIL VERIFICATION\\nConfirm contact info is accurate on every call\\n\\nIf missing email, ask for it to send invoices, quotes, and follow-ups\\n\\n“Can I get your email in case we need to send you anything?”\\n\\n🌙 AFTER-HOURS CALL HANDLING\\nOffice hours: Mon–Fri, 7 AM – 4 PM\\nIf a call comes in after hours:\\n\\nQuery the knowledge base for after-hours rules.\\n\\nIf issue risks harm to people or property, it qualifies as an emergency.\\n\\nInform the customer of the $250 dispatch fee.\\n\\nAsk for verbal confirmation before connecting to on-call.\\n\\nExamples of emergencies:\\n\\nWater leaking or flooding\\n\\nNo AC in extreme heat / no heat in freezing\\n\\nElectrical burning smell or sparks\\n\\nGas smell\\n\\nSewage backup\\n\\nIf not an emergency:\\n\\n“We’re currently closed, but I can get someone out during regular hours. Would you like me to schedule that now?”\\n\\n💳 OPEN BALANCE HANDLING\\nIf a customer has a balance due, inform them before booking a new job.\\n\\nForward to Accounting (Sunshine) at 334-221-6435 to pay.\\n\\nException: It's a callback on a recent job or unresolved issue.\\n\\n💰 PRICING LOGIC\\nRegular service fee based on location:\\n\\n$69 (0–20 mi)\\n\\n$89 (21–35 mi)\\n\\n$109 (35–45 mi)\\n\\nAfter-hours dispatch fee for all locations in our service area: $250\\n\\nIf asked about job cost:\\n\\n“We’ll need to send someone out to assess that in person, but I can get you scheduled.”\\n\\n📦 SERVICE AVAILABILITY\\nQuery the knowledge base if unsure whether Anderson performs a specific service (e.g., septic, window ACs).\\n\\nIf not offered, politely inform the caller and suggest alternatives.\\n\\n“We actually don’t work on window units, but we do handle central air systems if that’s something you have.”\\n\\n🧾 INVOICE LOOKUPS\\nIf asked about a bill or charge:\\n\\nLook up recent invoices\\n\\nProvide basic info (amount, location, date)\\n\\nOffer to transfer to accounting for questions or payments\\n\\n“I see an invoice for $312 from the job on Main Street. I can transfer you to Sunshine in our accounting department to handle that.”\\n\\n📍 SERVICE AREA & FEE CALCULATION\\nWhen booking a new job or quoting a price, use the customer’s location to determine the correct service fee.\\n\\n✅ Use this breakdown:\\n$69 Service Fee (0–20 miles)\\nGallion, Forkland, Linden, Faunsdale, Providence\\n\\n$89 Service Fee (21–35 miles)\\nGreensboro, Uniontown, Bellamy, Boligee, Sawyerville, Bluffport, Whitfield, Livingston, Eutaw, Newbern, Dayton, Thomaston, Myrtlewood\\n\\n$109 Service Fee (36–45 miles)\\nYork, Marion, Sweet Water, Alberta, Catherine, Pennington, Epes\\n\\n⛔ Not Serviced (Outside 45 miles or excluded areas):\\nTuscaloosa, Northport, Meridian (MS), Panola, Fosters, Millers Ferry, Nanafalia, Bogue Chitto, Orrville, Rosemary, Melton, Oakchia, Hugo, McCorkle, Fowler, Crenshaw\\n\\n🧠 Logic to Follow:\\nIdentify the customer’s city from their service address.\\n\\nIf it's in the list:\\n\\n“Based on your location in [City], our service fee would be $[69/89/109]. That covers the technician’s time to come out and diagnose your issue.”\\n\\nIf it’s in the not serviced list:\\n\\n“Unfortunately, we’re not currently servicing [City] — it’s outside our service area. I wish we could help, but we’re focused on nearby communities to provide fast and reliable service.”\\n\\nIf the city is unknown or not listed, use Google Maps API or fallback logic to estimate the distance from Demopolis and apply the appropriate fee tier.\\n\\n\\n💬 CALLBACK JOB HANDLING\\nIf the customer says:\\n\\n“Y’all were just here, and it’s still not working.”\\n\\nSteps:\\n\\nLook up the last job.\\n\\nIf it's within 30 days, book it as a callback.\\n\\nTag it clearly and do not charge again.\\n\\n“I’ll book this as a callback so we can make it right — no additional charge.”\\n\\n🆓 MEMBERSHIP OFFER\\nIf the customer is not a member:\\n\\nOffer membership at the end of the call\\n\\nUse knowledge base to pull pricing and benefits\\n\\n“We do offer a maintenance plan that includes seasonal tune-ups, discounted fees, and priority booking — would you like to hear more about it?”\\n\\n🛑 SPAM / SALES CALL HANDLING\\nIf it’s a robocall, telemarketer, or salesperson:\\n\\nDo not engage\\n\\nEnd the call politely\\n\\n“We’re not interested, but thank you.”\\n\\nOptional: Create a task tagged “Spam Caller” for future blocking\\n\\n🔄 CANCELLING & RESCHEDULING JOBS\\nIf caller wants to cancel:\\n\\nConfirm the job address\\n\\nAsk if they want to reschedule instead\\n\\nIf yes → reschedule\\n\\nIf no → cancel job and ask if there’s anything else needed\\n\\n“Would you like to cancel completely, or just move it to another day?”\\n\\n🧾 WARRANTY JOBS\\nIf issue is related to a job completed in the last year:\\n\\nTreat it as a warranty job\\n\\nTag it accordingly\\n\\nDo not charge\\n\\n“I’ll tag this as a warranty job and make sure the tech knows it’s a follow-up.”\\n\\n🧠 MEMORY FOR REPEAT CALLERS\\nIf the same customer calls again within 7 days:\\n\\nReference last call or job if appropriate\\n\\n“I see we just talked last week about your water heater — is this the same issue?”\\n\\n🧲 CUSTOMER REACTIVATION\\nIf a customer hasn’t had service in 12+ months:\\n\\nOffer them a tune-up or inspection\\n\\nMention any current promotions or membership benefits\\n\\n“It’s been a while since we were out there — want me to go ahead and schedule a quick tune-up?”\\n\\n📣 PROMO / CAMPAIGN LOGIC\\nIf a promo is running (e.g., $39 tune-up, sewer line special):\\n\\nMention it if relevant to the call\\n\\nPull promo info from the knowledge base\\n\\n“We’re running a special on drain cleaning this week — would you like me to apply that to your visit?”\\n\\n🧭 MARKETING SOURCE TRACKING\\nIf customer says:\\n\\n“I saw your ad on Facebook.”\\n\\n“My neighbor recommended y’all.”\\n\\nLog the lead source in job notes or tag the campaign.\\n\\n📝 MESSAGE TAKING FOR UNAVAILABLE STAFF\\nIf someone asks to speak with:\\n\\nWesley (owner)\\n\\nDurwood (sales)\\n\\nRick (dispatch)\\n\\nSunshine (accounting)\\n\\nAnd they’re not available:\\n\\n“I can take a message and make sure they follow up.”\\n\\nCreate a task with:\\n\\nName\\n\\nPhone\\n\\nWho the message is for\\n\\nTopic\\n\\n📋 TASK CREATION\\nCreate a task if:\\n\\nCustomer is waiting on pricing or follow-up\\n\\nYou can’t book the job due to rules\\n\\nThey ask to be called back\\n\\nYou need to pass info to another department\\n\\nInclude:\\n\\nSummary\\n\\nCustomer name\\n\\nPhone/email\\n\\nAssignee (sales, dispatch, accounting)\\n\\nDue: today or next business day\\n\\n👨‍💼 CUSTOMER REQUESTS TO SPEAK WITH A MANAGER\\nIf a customer asks to speak to a manager, or seems upset/frustrated:\\n\\nRemain calm, acknowledge their concern\\n\\nDo not transfer them live\\n\\nReassure them:\\n\\n“I completely understand. I’ll make sure a manager gives you a call back as soon as possible.”\\n\\nCreate a task in ServiceTitan:\\n\\nTitle: \\\"Customer requested manager call back\\\"\\n\\nAssignee: Wesley Anderson\\n\\nDue: Same day\\n\\nNotes: Include customer name, phone number, and summary of the issue\\n\\n\\n🧼 RED FLAG / DIFFICULT CUSTOMERS\\nIf a customer is:\\n\\nRepeatedly rude, yelling, or abusive\\n\\nExploiting callbacks\\n\\nThreatening legal action\\n\\nRemain calm, end the call politely, and:\\n\\nCreate a task for Management (Wesley) tagged “Red Flag Customer”\\n\\n✅ CALL ENDING PROCESS\\nAlways wrap up every call warmly.\\n\\nExamples:\\n\\n“You’re all set — thanks again for calling, and have a great day!”\\n\\n“Let us know if you need anything else — we appreciate your business!”\\n\\nNever hang up without confirming:\\n\\nThe customer’s question or need was resolved\\n\\nThere’s nothing else they need\\n\\nHere is the current date and time {{ $now }}.\\n Look up in the database how to close each call out before hanging up.\\n If customer asks a question about their account look up in the database how to find out that information, then run the appropriate tool with the information needed to run that tool.\\n Here is the customer who is calling. If there is more than one customer confirm which account they are calling about. Use this data to send in tool calls if a task is needed. Do not ask the customer to repeat any information that you have already. Simply confirm the data. Customer 1 Info: ID:{{ $('Search Customer Phone Number').item.json.data[0].id }}, Name:{{ $('Search Customer Phone Number').item.json.data[0].name }}, Customer Type:{{ $('Search Customer Phone Number').item.json.data[0].type }}, Address: Street:{{ $('Search Customer Phone Number').item.json.data[0].address.street }}, City:{{ $('Search Customer Phone Number').item.json.data[0].address.city }}, State:{{ $('Search Customer Phone Number').item.json.data[0].address.state }}, Zip:{{ $('Search Customer Phone Number').item.json.data[0].address.zip }}, Balance:{{ $('Search Customer Phone Number').item.json.data[0].balance }}, Do not mail:{{ $('Search Customer Phone Number').item.json.data[0].doNotMail }}, Do not service:{{ $('Search Customer Phone Number').item.json.data[0].doNotService }}. Customer 2 Info: ID:{{ $('Search Customer Phone Number').item.json.data[1].id }}, Name:{{ $('Search Customer Phone Number').item.json.data[1].name }}, Customer Type:{{ $('Search Customer Phone Number').item.json.data[1].type }}, Address: Street:{{ $('Search Customer Phone Number').item.json.data[1].address.street }}, City:{{ $('Search Customer Phone Number').item.json.data[1].address.city }}, State:{{ $('Search Customer Phone Number').item.json.data[1].address.state }}, Zip:{{ $('Search Customer Phone Number').item.json.data[1].address.zip }}, Balance:{{ $('Search Customer Phone Number').item.json.data[1].balance }}, Do not mail:{{ $('Search Customer Phone Number').item.json.data[1].doNotMail }}, Do not service:{{ $('Search Customer Phone Number').item.json.data[1].doNotService }}. Contacts: Contact Id: {{ $('Get Customer Contacts1').item.json.data[0].id }}, Contact Type:{{ $('Get Customer Contacts1').item.json.data[0].type }}:{{ $('Get Customer Contacts1').item.json.data[0].value }} Memo:{{ $('Get Customer Contacts1').item.json.data[0].memo }} Contact Id: {{ $('Get Customer Contacts1').item.json.data[1].id }}, Contact Type:{{ $('Get Customer Contacts1').item.json.data[1].type }}:{{ $('Get Customer Contacts1').item.json.data[1].value }} Memo:{{ $('Get Customer Contacts1').item.json.data[1].memo }} Contact Id: {{ $('Get Customer Contacts1').item.json.data[2].id }}, Contact type:{{ $('Get Customer Contacts1').item.json.data[2].type }}:{{ $('Get Customer Contacts1').item.json.data[2].value }} Memo:{{ $('Get Customer Contacts1').item.json.data[2].memo }} Contact Id: {{ $('Get Customer Contacts1').item.json.data[3].id }}, Contact type:{{ $('Get Customer Contacts1').item.json.data[3].type }}:{{ $('Get Customer Contacts1').item.json.data[3].value }} Memo:{{ $('Get Customer Contacts1').item.json.data[3].memo }}. Customer Appointments:Appointment 1: ID:{{ $json.data[0].id }}, job number:{{ $json.data[0].jobNumber }}, project id:{{ $json.data[0].projectId }}, customer id:{{ $json.data[0].customerId }}, location id:{{ $json.data[0].locationId }}, job status:{{ $json.data[0].jobStatus }}, completed on:{{ $json.data[0].completedOn }},summary:{{ $json.data[0].summary }}.Appointment 2: ID:{{ $json.data[1].id }}, job number:{{ $json.data[1].jobNumber }}, project id:{{ $json.data[1].projectId }}, customer id:{{ $json.data[1].customerId }}, location id:{{ $json.data[1].locationId }}, job status:{{ $json.data[1].jobStatus }}, completed on:{{ $json.data[1].completedOn }},summary:{{ $json.data[1].summary }}.Appointment 3: ID:{{ $json.data[2].id }}, job number:{{ $json.data[2].jobNumber }}, project id:{{ $json.data[2].projectId }}, customer id:{{ $json.data[2].customerId }}, location id:{{ $json.data[2].locationId }}, job status:{{ $json.data[2].jobStatus }}, completed on:{{ $json.data[2].completedOn }},summary:{{ $json.data[2].summary }}.Appointment 4: ID:{{ $json.data[3].id }}, job number:{{ $json.data[3].jobNumber }}, project id:{{ $json.data[3].projectId }}, customer id:{{ $json.data[3].customerId }}, location id:{{ $json.data[3].locationId }}, job status:{{ $json.data[3].jobStatus }}, completed on:{{ $json.data[3].completedOn }},summary:{{ $json.data[3].summary }}.Appointment 5: ID:{{ $json.data[4].id }}, job number:{{ $json.data[4].jobNumber }}, project id:{{ $json.data[4].projectId }}, customer id:{{ $json.data[4].customerId }}, location id:{{ $json.data[4].locationId }}, job status:{{ $json.data[4].jobStatus }}, completed on:{{ $json.data[4].completedOn }},summary:{{ $json.data[4].summary }}.\"\n      }\n    ],\n    \"provider\": \"openai\",\n    \"temperature\": 1\n  },\n  \"firstMessage\": \"Thank you for calling Anderson. My name is Andy. How can I help you today?\",\n  \"voicemailMessage\": \"This is Andy with Anderson Plumbing, Heating and Electric. If you could, please give us a call back at 334-289-4985. Thank you and have a great day!\",\n  \"endCallFunctionEnabled\": true,\n  \"endCallMessage\": \"Thanks again for calling Anderson. Have a great day!\",\n  \"transcriber\": {\n    \"model\": \"nova-3\",\n    \"language\": \"en\",\n    \"numerals\": true,\n    \"provider\": \"deepgram\",\n    \"endpointing\": 300,\n    \"confidenceThreshold\": 0.4\n  },\n  \"clientMessages\": [\n    \"transcript\",\n    \"hang\",\n    \"function-call\",\n    \"speech-update\",\n    \"metadata\",\n    \"transfer-update\",\n    \"conversation-update\",\n    \"workflow.node.started\"\n  ],\n  \"serverMessages\": [\n    \"end-of-call-report\",\n    \"tool-calls\"\n  ],\n  \"dialKeypadFunctionEnabled\": false,\n  \"serverUrl\": \"https://westa.app.n8n.cloud/webhook-test/728028cb-8f21-4ffe-b841-1cf94fe89682\",\n  \"hipaaEnabled\": false,\n  \"maxDurationSeconds\": 4089,\n  \"backgroundSound\": \"office\",\n  \"backchannelingEnabled\": true,\n  \"analysisPlan\": {\n    \"structuredDataPrompt\": \"You will be given the transcript of a phone call. Please find the following information in the call and determine what the answer should be. If you can not come up with an answer just insert N/A:\\nCustomer Name:\\nCustomer Address:\\nCustomer Email:\\nCall Type: What was the main reason for the call?\\tExample: service request, billing question, faq, emergency, cancelation\\t\\nCall Result: What was the outcome of the call? Example: job booked, info given, callback scheduled, unable to help, forwarded to team\\t\\nCustomer Intent:\\tWhat was the goal of the customer? Example: get estimate, book appointment, inquire service area, follow up on invoice\\t\\nCustomer Satisfaction Estimate: Best guess based on tone or language. Example: positive, neutral, frustrated\\nAgent Confidence: How confident was the AI in handling the call? Example: 0.85\\nNeeds Follow Up: Should a human or AI follow up? This should be a \\\"True\\\" or \\\"False\\\" answer\\nFollow Up Reason: Why does it need follow-up? invoice dispute, missed booking, wants callback, manual review needed\",\n    \"structuredDataSchema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"call_type\": {\n          \"type\": \"string\"\n        },\n        \"call_result\": {\n          \"type\": \"string\"\n        },\n        \"customer_name\": {\n          \"type\": \"string\"\n        },\n        \"customer_email\": {\n          \"type\": \"string\"\n        },\n        \"customer_intent\": {\n          \"type\": \"string\"\n        },\n        \"needs_follow_up\": {\n          \"type\": \"string\"\n        },\n        \"agent_confidence\": {\n          \"type\": \"string\"\n        },\n        \"customer_address\": {\n          \"type\": \"string\"\n        },\n        \"follow_up_reason\": {\n          \"type\": \"string\"\n        },\n        \"customer_satisfaction_estimate\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"call_type\",\n        \"call_result\",\n        \"customer_name\",\n        \"customer_email\",\n        \"customer_intent\",\n        \"needs_follow_up\",\n        \"agent_confidence\",\n        \"customer_address\",\n        \"follow_up_reason\",\n        \"customer_satisfaction_estimate\"\n      ]\n    }\n  },\n  \"voicemailDetection\": {\n    \"provider\": \"vapi\",\n    \"backoffPlan\": {\n      \"maxRetries\": 6,\n      \"startAtSeconds\": 5,\n      \"frequencySeconds\": 5\n    },\n    \"beepMaxAwaitSeconds\": 1\n  },\n  \"backgroundDenoisingEnabled\": true,\n  \"messagePlan\": {\n    \"idleMessageMaxSpokenCount\": 3,\n    \"idleTimeoutSeconds\": 15.2\n  },\n  \"startSpeakingPlan\": {\n    \"waitSeconds\": 2,\n    \"smartEndpointingEnabled\": \"livekit\",\n    \"smartEndpointingPlan\": {\n      \"provider\": \"vapi\"\n    }\n  },\n  \"stopSpeakingPlan\": {\n    \"numWords\": 1,\n    \"backoffSeconds\": 4\n  },\n  \"server\": {\n    \"url\": \"https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682\",\n    \"timeoutSeconds\": 15\n  }\n}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        -680
      ],
      "id": "f2f16c7c-bc8e-46ba-870e-3b88c0b4e19e",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['Call ID'] }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -760,
        0
      ],
      "id": "ef912c0b-9c72-4a4b-aacc-2f1a277bd69d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "b6Zg7U2d7o7GpLpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -432,
        200
      ],
      "id": "490a6e72-2317-4fd6-b21a-b55db0eecc55",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "73L9YsY2AXrdAS3w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://westa.app.n8n.cloud/mcp/3ff88551-ade5-4918-a76d-a957a2358eb6/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -640,
        -20
      ],
      "id": "02b06980-6490-4c71-a322-9d528e79652d",
      "name": "ST MCP Server"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7d9948d-845b-4da1-97cb-ad25742af414",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1100,
        380
      ],
      "id": "125312fc-da51-4a08-873b-b8f1f1beae9a",
      "name": "Filter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96942a71-9b32-4e85-9249-207a8c17d120",
              "name": "Tool Call",
              "value": "={{ $json.body.message.toolCalls[0].function }}",
              "type": "string"
            },
            {
              "id": "8f35c0f4-6f78-4c72-aae6-0b54709b44ff",
              "name": "Transcript",
              "value": "={{ $json.body.message.artifact.messagesOpenAIFormatted }}",
              "type": "string"
            },
            {
              "id": "94a37ba4-abe7-413c-981f-98fa690f1253",
              "name": "Call ID",
              "value": "={{ $json.body.message.call.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1100,
        -20
      ],
      "id": "3d5392b4-8172-4b12-8e9e-9754c997127a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Gets information such as how the ai agent should respond to specific situations, get service call fees, gets booking call flow, gets after hours work flow, and gets any other knowledge about the tools provided and how to use them. ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -520,
        2.5
      ],
      "id": "11eb1123-6ae8-4dfe-b326-9deac6a2ce15",
      "name": "Knowledge Base Retrieval ",
      "credentials": {
        "supabaseApi": {
          "id": "CSQ9QKGyG7vTh9JX",
          "name": "Supabase aphe"
        }
      }
    },
    {
      "parameters": {
        "operation": "5DayForecast",
        "format": "imperial",
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}",
        "language": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Language', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "id": "55644a31-8e37-4a56-a42a-783f5aab700a",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "6Le4Odtdi0Gey8Fz",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Allows you to search the internet. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `The search query to execute with Tavily.\n\nExample:\n\"who is Leo Messi?\"`, 'string') }}"
            },
            {
              "name": "topic",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `The category of the search.news is useful for retrieving real-time updates, particularly about politics, sports, and major current events covered by mainstream media sources. general is for broader, more general-purpose searches that may include a wide range of sources.\n\nAvailable options: general, news `, 'string') }}"
            },
            {
              "name": "search_depth",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `The depth of the search. advanced search is tailored to retrieve the most relevant sources and content snippets for your query, while basic search provides generic content snippets from each source. A basic search costs 1 API Credit, while an advanced search costs 2 API Credits.\n\nAvailable options: basic, advanced `, 'string') }}"
            },
            {
              "name": "chunks_per_source",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `The number of content chunks to retrieve from each source. Each chunk's length is maximum 500 characters. Available only when search_depth is advanced.\n\nRequired range: 1 <= x <= 3`, 'string') }}"
            },
            {
              "name": "max_results",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `The maximum number of search results to return.\n\nRequired range: 0 <= x <= 20\nExample:\n1`, 'string') }}"
            },
            {
              "name": "time_range",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `The time range back from the current date to filter results. Useful when looking for sources that have published data.\n\nAvailable options: day, week, month, year, d, w, m, y `, 'string') }}"
            },
            {
              "name": "days",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Number of days back from the current date to include. Available only if topic is news.\n\nRequired range: x >= 1`, 'string') }}"
            },
            {
              "name": "include_answer",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Include an LLM-generated answer to the provided query. basic or true returns a quick answer. advanced returns a more detailed answer.`, 'string') }}"
            },
            {
              "name": "include_raw_content",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `Include the cleaned and parsed HTML content of each search result.`, 'string') }}"
            },
            {
              "name": "include_images",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters9_Value', `Also perform an image search and include the results in the response.`, 'string') }}"
            },
            {
              "name": "inlcude_image_descriptions",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters10_Value', `When include_images is true, also add a descriptive text for each image.`, 'string') }}"
            },
            {
              "name": "include_domains",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters11_Value', `A list of domains to specifically include in the search results.`, 'string') }}"
            },
            {
              "name": "exclude_domains",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters12_Value', `A list of domains to specifically exclude from the search results.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -104,
        0
      ],
      "id": "b298cdc8-0f3a-4875-92c6-e88f7f641dca",
      "name": "Search Internet",
      "credentials": {
        "httpHeaderAuth": {
          "id": "m8Lws2Ay5PE9Q3bO",
          "name": "Tavily"
        },
        "httpBearerAuth": {
          "id": "Fzp6IsgRDNgPKDe7",
          "name": "Tavily Bearer"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        104,
        200
      ],
      "id": "a5e7a263-3d2f-45f9-ac4f-a25e35353ddb",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "73L9YsY2AXrdAS3w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Customer_Chat_Retrieval",
        "toolDescription": "Retrieve chats from the past that you have had with customers",
        "tableName": {
          "__rl": true,
          "value": "APHE Call Logs",
          "mode": "list",
          "cachedResultName": "APHE Call Logs"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        16,
        2.5
      ],
      "id": "e6991b71-ade0-483f-a01b-f2dc11070348",
      "name": "Customer Chat History",
      "credentials": {
        "supabaseApi": {
          "id": "CSQ9QKGyG7vTh9JX",
          "name": "Supabase aphe"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oufQffAwLnhGA8rb",
          "mode": "list",
          "cachedResultName": "AndersonPHe — My Sub-Workflow 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1820,
        -120
      ],
      "id": "04c94a92-9da0-4f88-a58b-38908d768074",
      "name": "Call Job Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "q94mwCVrUv4rCV0k",
          "mode": "list",
          "cachedResultName": "AndersonPHe — CRM Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1680,
        -120
      ],
      "id": "c2534c78-6c96-497b-8aaa-60d7e33580c9",
      "name": "Call CRM Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "94wQVXLNl2bPNdTj",
          "mode": "list",
          "cachedResultName": "AndersonPHe — Appointment Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1540,
        -120
      ],
      "id": "6f2cf53d-8709-4c75-862b-7ca2364b0ba7",
      "name": "Call Appointment Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "J5H4aY6jzWo8PPdD",
          "mode": "list",
          "cachedResultName": "AndersonPHe — Task Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1400,
        -120
      ],
      "id": "f9f120a7-f6fa-4e1e-b806-16069df9453e",
      "name": "Call Task Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F3LgETPGV6GrUOwP",
          "mode": "list",
          "cachedResultName": "AndersonPHe — Note And Tag Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1260,
        -120
      ],
      "id": "ef80f854-6f6a-45be-96b7-e4f99b86ca3d",
      "name": "Call Note and Tag Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        260,
        100
      ],
      "id": "94c9f045-8f72-4380-b051-b8f61693fbc7",
      "name": "Think"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "westa.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "1398",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "authorization": "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjYwNkZEM0Y3NzgxNzM4N0U3NjVDRTY5NkUxNzU0RTM3ODNBODU3MkJSUzI1NiIsIng1dCI6IllHX1Q5M2dYT0g1MlhPYVc0WFZPTjRPb1Z5cyIsInR5cCI6ImF0K2p3dCJ9.eyJpc3MiOiJodHRwczovL2F1dGguc2VydmljZXRpdGFuLmlvIiwibmJmIjoxNzQ2NTU5NjI5LCJpYXQiOjE3NDY1NTk2MjksImV4cCI6MTc0NjU2MDUyOSwic2NvcGUiOlsidG4uYWNjLmFwY3JlZGl0czpyIiwidG4uYWNjLmFwY3JlZGl0czp3IiwidG4uYWNjLmFwcGF5bWVudHM6ciIsInRuLmFjYy5hcHBheW1lbnRzOnciLCJ0bi5hY2MuZ2xhY2NvdW50czpyIiwidG4uYWNjLmdsYWNjb3VudHM6dyIsInRuLmFjYy5pbnZlbnRvcnlhZGp1c3RtZW50czpyIiwidG4uYWNjLmludmVudG9yeWFkanVzdG1lbnRzOnciLCJ0bi5hY2MuaW52ZW50b3J5YmlsbHM6ciIsInRuLmFjYy5pbnZlbnRvcnliaWxsczp3IiwidG4uYWNjLmludmVudG9yeXJlY2VpcHRzOnIiLCJ0bi5hY2MuaW52ZW50b3J5cmVjZWlwdHM6dyIsInRuLmFjYy5pbnZlbnRvcnl0cmFuc2ZlcnM6ciIsInRuLmFjYy5pbnZlbnRvcnl0cmFuc2ZlcnM6dyIsInRuLmFjYy5pbnZvaWNlaXRlbXM6ciIsInRuLmFjYy5pbnZvaWNlaXRlbXM6dyIsInRuLmFjYy5pbnZvaWNlczpyIiwidG4uYWNjLmludm9pY2VzOnciLCJ0bi5hY2Muam91cm5hbGVudHJpZXM6ciIsInRuLmFjYy5qb3VybmFsZW50cmllczp3IiwidG4uYWNjLnBheW1lbnRzOnIiLCJ0bi5hY2MucGF5bWVudHM6dyIsInRuLmFjYy5wYXltZW50dGVybXM6ciIsInRuLmFjYy5wYXltZW50dGVybXM6dyIsInRuLmFjYy5wYXltZW50dHlwZXM6ciIsInRuLmFjYy5wYXltZW50dHlwZXM6dyIsInRuLmFjYy5wdXJjaGFzZW9yZGVyczpyIiwidG4uYWNjLnB1cmNoYXNlb3JkZXJzOnciLCJ0bi5hY2MucHVyY2hhc2VyZXR1cm5zOnIiLCJ0bi5hY2MucHVyY2hhc2VyZXR1cm5zOnciLCJ0bi5hY2MudGF4em9uZXM6ciIsInRuLmFjYy50YXh6b25lczp3IiwidG4uY3JtLmJvb2tpbmdwcm92aWRlcnRhZ3M6ciIsInRuLmNybS5ib29raW5ncHJvdmlkZXJ0YWdzOnciLCJ0bi5jcm0uYm9va2luZ3M6ciIsInRuLmNybS5ib29raW5nczp3IiwidG4uY3JtLmNvbnRhY3RzOnIiLCJ0bi5jcm0uY29udGFjdHM6dyIsInRuLmNybS5jdXN0b21lcnM6ciIsInRuLmNybS5jdXN0b21lcnM6dyIsInRuLmNybS5sZWFkczpyIiwidG4uY3JtLmxlYWRzOnciLCJ0bi5jcm0ubG9jYXRpb25zOnIiLCJ0bi5jcm0ubG9jYXRpb25zOnciLCJ0bi5jcm0udGFnczpyIiwidG4uY3JtLnRhZ3M6dyIsInRuLmNzaS50ZWNobmljaWFucmF0aW5nOnIiLCJ0bi5jc2kudGVjaG5pY2lhbnJhdGluZzp3IiwidG4uZGlzLmFwcG9pbnRtZW50YXNzaWdubWVudHM6ciIsInRuLmRpcy5hcHBvaW50bWVudGFzc2lnbm1lbnRzOnciLCJ0bi5kaXMuYXJyaXZhbHdpbmRvd3M6ciIsInRuLmRpcy5hcnJpdmFsd2luZG93czp3IiwidG4uZGlzLmJ1c2luZXNzaG91cnM6ciIsInRuLmRpcy5idXNpbmVzc2hvdXJzOnciLCJ0bi5kaXMuY2FwYWNpdHk6ciIsInRuLmRpcy5jYXBhY2l0eTp3IiwidG4uZGlzLmdwc3BpbmdzOnIiLCJ0bi5kaXMuZ3BzcGluZ3M6dyIsInRuLmRpcy5ub25qb2JhcHBvaW50bWVudHM6ciIsInRuLmRpcy5ub25qb2JhcHBvaW50bWVudHM6dyIsInRuLmRpcy50ZWFtczpyIiwidG4uZGlzLnRlYW1zOnciLCJ0bi5kaXMudGVjaG5pY2lhbnNoaWZ0czpyIiwidG4uZGlzLnRlY2huaWNpYW5zaGlmdHM6dyIsInRuLmRpcy56b25lczpyIiwidG4uZGlzLnpvbmVzOnciLCJ0bi5lcXMuaW5zdGFsbGVkZXF1aXBtZW50OnIiLCJ0bi5lcXMuaW5zdGFsbGVkZXF1aXBtZW50OnciLCJ0bi5mcm0uZm9ybXM6ciIsInRuLmZybS5mb3Jtczp3IiwidG4uZnJtLmpvYnM6ciIsInRuLmZybS5qb2JzOnciLCJ0bi5mcm0uc3VibWlzc2lvbnM6ciIsInRuLmZybS5zdWJtaXNzaW9uczp3IiwidG4uaW52LmFkanVzdG1lbnRzOnIiLCJ0bi5pbnYuYWRqdXN0bWVudHM6dyIsInRuLmludi5wdXJjaGFzZW9yZGVybWFya3VwczpyIiwidG4uaW52LnB1cmNoYXNlb3JkZXJtYXJrdXBzOnciLCJ0bi5pbnYucHVyY2hhc2VvcmRlcnM6ciIsInRuLmludi5wdXJjaGFzZW9yZGVyczp3IiwidG4uaW52LnB1cmNoYXNlb3JkZXJ0eXBlczpyIiwidG4uaW52LnB1cmNoYXNlb3JkZXJ0eXBlczp3IiwidG4uaW52LnJlY2VpcHRzOnIiLCJ0bi5pbnYucmVjZWlwdHM6dyIsInRuLmludi5yZXR1cm5zOnIiLCJ0bi5pbnYucmV0dXJuczp3IiwidG4uaW52LnJldHVybnR5cGVzOnIiLCJ0bi5pbnYucmV0dXJudHlwZXM6dyIsInRuLmludi50cmFuc2ZlcnM6ciIsInRuLmludi50cmFuc2ZlcnM6dyIsInRuLmludi50cnVja3M6ciIsInRuLmludi50cnVja3M6dyIsInRuLmludi52ZW5kb3JzOnIiLCJ0bi5pbnYudmVuZG9yczp3IiwidG4uaW52LndhcmVob3VzZXM6ciIsInRuLmludi53YXJlaG91c2VzOnciLCJ0bi5qYmNlLmNhbGxyZWFzb25zOnIiLCJ0bi5qYmNlLmNhbGxyZWFzb25zOnciLCJ0bi5qcG0uYXBwb2ludG1lbnRzOnIiLCJ0bi5qcG0uYXBwb2ludG1lbnRzOnciLCJ0bi5qcG0uam9iY2FuY2VsZWRsb2dzOnIiLCJ0bi5qcG0uam9iY2FuY2VsZWRsb2dzOnciLCJ0bi5qcG0uam9iY2FuY2VscmVhc29uczpyIiwidG4uanBtLmpvYmNhbmNlbHJlYXNvbnM6dyIsInRuLmpwbS5qb2JoaXN0b3J5OnIiLCJ0bi5qcG0uam9iaGlzdG9yeTp3IiwidG4uanBtLmpvYmhvbGRyZWFzb25zOnIiLCJ0bi5qcG0uam9iaG9sZHJlYXNvbnM6dyIsInRuLmpwbS5qb2Jub3RlczpyIiwidG4uanBtLmpvYm5vdGVzOnciLCJ0bi5qcG0uam9iczpyIiwidG4uanBtLmpvYnM6dyIsInRuLmpwbS5qb2J0eXBlczpyIiwidG4uanBtLmpvYnR5cGVzOnciLCJ0bi5qcG0ucHJvamVjdG5vdGVzOnIiLCJ0bi5qcG0ucHJvamVjdG5vdGVzOnciLCJ0bi5qcG0ucHJvamVjdHM6ciIsInRuLmpwbS5wcm9qZWN0czp3IiwidG4uanBtLnByb2plY3RzdGF0dXNlczpyIiwidG4uanBtLnByb2plY3RzdGF0dXNlczp3IiwidG4uanBtLnByb2plY3RzdWJzdGF0dXNlczpyIiwidG4uanBtLnByb2plY3RzdWJzdGF0dXNlczp3IiwidG4uanBtLnByb2plY3R0eXBlczpyIiwidG4uanBtLnByb2plY3R0eXBlczp3IiwidG4ubWFkcy5hdHRyaWJ1dGVkbGVhZHM6ciIsInRuLm1hZHMuYXR0cmlidXRlZGxlYWRzOnciLCJ0bi5tYWRzLmNhcGFjaXR5d2FybmluZ3M6ciIsInRuLm1hZHMuY2FwYWNpdHl3YXJuaW5nczp3IiwidG4ubWFkcy5leHRlcm5hbGNhbGxhdHRyaWJ1dGlvbnM6ciIsInRuLm1hZHMuZXh0ZXJuYWxjYWxsYXR0cmlidXRpb25zOnciLCJ0bi5tYWRzLmpvYmF0dHJpYnV0aW9uczpyIiwidG4ubWFkcy5qb2JhdHRyaWJ1dGlvbnM6dyIsInRuLm1hZHMucGVyZm9ybWFuY2U6ciIsInRuLm1hZHMucGVyZm9ybWFuY2U6dyIsInRuLm1hZHMud2ViYm9va2luZ2F0dHJpYnV0aW9uczpyIiwidG4ubWFkcy53ZWJib29raW5nYXR0cmlidXRpb25zOnciLCJ0bi5tYWRzLndlYmxlYWRmb3JtYXR0cmlidXRpb25zOnIiLCJ0bi5tYWRzLndlYmxlYWRmb3JtYXR0cmlidXRpb25zOnciLCJ0bi5tZW0uaW52b2ljZXRlbXBsYXRlczpyIiwidG4ubWVtLmludm9pY2V0ZW1wbGF0ZXM6dyIsInRuLm1lbS5tZW1iZXJzaGlwczpyIiwidG4ubWVtLm1lbWJlcnNoaXBzOnciLCJ0bi5tZW0ubWVtYmVyc2hpcHR5cGVzOnIiLCJ0bi5tZW0ubWVtYmVyc2hpcHR5cGVzOnciLCJ0bi5tZW0ucmVjdXJyaW5nc2VydmljZWV2ZW50czpyIiwidG4ubWVtLnJlY3VycmluZ3NlcnZpY2VldmVudHM6dyIsInRuLm1lbS5yZWN1cnJpbmdzZXJ2aWNlczpyIiwidG4ubWVtLnJlY3VycmluZ3NlcnZpY2VzOnciLCJ0bi5tZW0ucmVjdXJyaW5nc2VydmljZXR5cGVzOnIiLCJ0bi5tZW0ucmVjdXJyaW5nc2VydmljZXR5cGVzOnciLCJ0bi5tcmVwLnJldmlld3M6ciIsInRuLm1yZXAucmV2aWV3czp3IiwidG4ubXJrLmNhbXBhaWduczpyIiwidG4ubXJrLmNhbXBhaWduczp3IiwidG4ubXJrLmNhdGVnb3JpZXM6ciIsInRuLm1yay5jYXRlZ29yaWVzOnciLCJ0bi5tcmsuY29zdHM6ciIsInRuLm1yay5jb3N0czp3IiwidG4ubXJrLnN1cHByZXNzaW9uczpyIiwidG4ubXJrLnN1cHByZXNzaW9uczp3IiwidG4ucGIuY2F0ZWdvcmllczpyIiwidG4ucGIuY2F0ZWdvcmllczp3IiwidG4ucGIuY3NwOnIiLCJ0bi5wYi5jc3A6dyIsInRuLnBiLmRpc2NvdW50c2FuZGZlZXM6ciIsInRuLnBiLmRpc2NvdW50c2FuZGZlZXM6dyIsInRuLnBiLmVxdWlwbWVudDpyIiwidG4ucGIuZXF1aXBtZW50OnciLCJ0bi5wYi5pbWFnZXM6ciIsInRuLnBiLmltYWdlczp3IiwidG4ucGIubWF0ZXJpYWxzOnIiLCJ0bi5wYi5tYXRlcmlhbHM6dyIsInRuLnBiLnByaWNlYm9vazpyIiwidG4ucGIucHJpY2Vib29rOnciLCJ0bi5wYi5zZXJ2aWNlczpyIiwidG4ucGIuc2VydmljZXM6dyIsInRuLnBtdC5jcmVkaXRjYXJkczpyIiwidG4ucG10LmNyZWRpdGNhcmRzOnciLCJ0bi5wcmwuYWN0aXZpdHljb2RlczpyIiwidG4ucHJsLmFjdGl2aXR5Y29kZXM6dyIsInRuLnBybC5lbXBsb3llZXM6ciIsInRuLnBybC5lbXBsb3llZXM6dyIsInRuLnBybC5ncm9zc3BheWl0ZW1zOnIiLCJ0bi5wcmwuZ3Jvc3NwYXlpdGVtczp3IiwidG4ucHJsLmpvYnM6ciIsInRuLnBybC5qb2JzOnciLCJ0bi5wcmwubG9jYXRpb25zOnIiLCJ0bi5wcmwubG9jYXRpb25zOnciLCJ0bi5wcmwubm9uam9idGltZXNoZWV0czpyIiwidG4ucHJsLm5vbmpvYnRpbWVzaGVldHM6dyIsInRuLnBybC5wYXlyb2xsYWRqdXN0bWVudHM6ciIsInRuLnBybC5wYXlyb2xsYWRqdXN0bWVudHM6dyIsInRuLnBybC5wYXlyb2xsczpyIiwidG4ucHJsLnBheXJvbGxzOnciLCJ0bi5wcmwucGF5cm9sbHNldHRpbmdzOnIiLCJ0bi5wcmwucGF5cm9sbHNldHRpbmdzOnciLCJ0bi5wcmwudGVjaG5pY2lhbnM6ciIsInRuLnBybC50ZWNobmljaWFuczp3IiwidG4ucHJsLnRpbWVzaGVldGNvZGVzOnIiLCJ0bi5wcmwudGltZXNoZWV0Y29kZXM6dyIsInRuLnJwci5keW5hbWljdmFsdWVzZXRzOnIiLCJ0bi5ycHIuZHluYW1pY3ZhbHVlc2V0czp3IiwidG4ucnByLnJlcG9ydGNhdGVnb3JpZXM6ciIsInRuLnJwci5yZXBvcnRjYXRlZ29yaWVzOnciLCJ0bi5ycHIucmVwb3J0czpyIiwidG4ucnByLnJlcG9ydHM6dyIsInRuLnNhLnNlcnZpY2VhZ3JlZW1lbnRzOnIiLCJ0bi5zYS5zZXJ2aWNlYWdyZWVtZW50czp3IiwidG4uc2FsLmVzdGltYXRlczpyIiwidG4uc2FsLmVzdGltYXRlczp3IiwidG4uc3Auc2NoZWR1bGVyczpyIiwidG4uc3Auc2NoZWR1bGVyczp3IiwidG4uc3R0LmJ1c2luZXNzdW5pdHM6ciIsInRuLnN0dC5idXNpbmVzc3VuaXRzOnciLCJ0bi5zdHQuZW1wbG95ZWVzOnIiLCJ0bi5zdHQuZW1wbG95ZWVzOnciLCJ0bi5zdHQudGFndHlwZXM6ciIsInRuLnN0dC50YWd0eXBlczp3IiwidG4uc3R0LnRlY2huaWNpYW5zOnIiLCJ0bi5zdHQudGVjaG5pY2lhbnM6dyIsInRuLnN0dC51c2Vycm9sZXM6ciIsInRuLnN0dC51c2Vycm9sZXM6dyIsInRuLnRsYy5jYWxsczpyIiwidG4udGxjLmNhbGxzOnciLCJ0bi50bGMub3B0aW5vdXQ6ciIsInRuLnRsYy5vcHRpbm91dDp3IiwidG4udG1zLmFjdGl2aXRpZXM6ciIsInRuLnRtcy5hY3Rpdml0aWVzOnciLCJ0bi50bXMuYWN0aXZpdHljYXRlZ29yaWVzOnIiLCJ0bi50bXMuYWN0aXZpdHljYXRlZ29yaWVzOnciLCJ0bi50bXMuYWN0aXZpdHl0eXBlczpyIiwidG4udG1zLmFjdGl2aXR5dHlwZXM6dyIsInRuLnRzbS5kYXRhOnIiLCJ0bi50c20uZGF0YTp3IiwidG4udHNtLnRhc2tzOnIiLCJ0bi50c20udGFza3M6dyJdLCJjbGllbnRfaWQiOiJjaWQuZDQ1a2pmNWdqcGFoZmF5d3NwZG03MG5rdCIsImFwaWFwcF9pZCI6IjF6aTB4MzRwcjlxMXIiLCJib29raW5nX3Byb3ZpZGVyIjoicHd6bm9lN3pnNnV5ejVvcHBzZ25tZmRoYyIsImV4dF9kYXRhX2d1aWQiOiJkZTU2YWRkYi0wNDk0LTQ3MWYtYTY0OS0yNDhhZWQwYWNiYTUiLCJncHNfcHJvdmlkZXIiOiJOYXRpdmUiLCJvd25lcl9pZCI6InRlbmFudC0xNTk3ODAyNjU5LWVudi1wcm9kIiwicmVwb3J0X2NhdGVnb3J5IjoicHd6bm9lN3pnNnV5ejVvcHBzZ25tZmRoYyIsInNjb3Blc192ZXJzaW9uIjoiMSIsInRlbmFudCI6IjE1OTc4MDI2NTkiLCJqdGkiOiIzNEUwMjc3RTY1NkYzNDgzNUI0MUZEQzAwMzc4OTQ4OSJ9.NWLqkmsFiwSmKses3FE4O9G3jUszLyd_gzq1FGgqXQARAGATNPMisq9YgiXCqnq-GgXNz7giczFZQzutWG-CAOco2fHQOz3sx9C04zRuLfXVJwqy96nu_m_tyY8VBjayJOAib0Er0qw18Y62pdL3G5x53R31tynQ1jQpWty8cMsSPs-Tchep07j2jGMYZdJswhbHRlSQUFuv0T1HPKxe3oG-hr9-Q0iH3Qh9oaJg_ubnwgfuMnIv5PN6-VmTLxqKUydRXHS7IIrTyET2nbaXhixYGyzj4Db33AOMq9qlLLVZuhXOK_QLGKFI7Wk3QRoknSrh-iybm98LEGa45vejGg",
            "baggage": "sentry-environment=production,sentry-public_key=fac6f282c765ce50b18c3fa0305f8a8b,sentry-trace_id=88334209880447398431aa094656da50",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "18.246.29.48",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "93badfd3f47e1bed-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "cookie": "callId=642e1375-edcf-4fdc-b57b-9f875eb3d341",
            "sentry-trace": "88334209880447398431aa094656da50-b65d2b6a281eef8c",
            "x-forwarded-for": "18.246.29.48, 104.23.160.139",
            "x-forwarded-host": "westa.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-12-5464cc7f77-ntkdt",
            "x-is-trusted": "yes",
            "x-real-ip": "18.246.29.48",
            "x-vapi-secret": ""
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "timestamp": 1746559639592,
              "type": "assistant-request",
              "call": {
                "id": "642e1375-edcf-4fdc-b57b-9f875eb3d341",
                "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                "createdAt": "2025-05-06T19:27:19.567Z",
                "updatedAt": "2025-05-06T19:27:19.567Z",
                "type": "inboundPhoneCall",
                "status": "ringing",
                "phoneCallProvider": "twilio",
                "phoneCallProviderId": "CA16c0bbaa9926f6e586e7213c2a83bbc5",
                "phoneCallTransport": "pstn",
                "phoneNumberId": "c4f8e8a0-deae-4d2a-ad76-4a86de378af1",
                "assistantId": null,
                "squadId": null,
                "workflowId": null,
                "customer": {
                  "number": "+13346544028"
                }
              },
              "phoneNumber": {
                "id": "c4f8e8a0-deae-4d2a-ad76-4a86de378af1",
                "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                "assistantId": null,
                "number": "+13346406712",
                "createdAt": "2024-07-24T22:52:11.336Z",
                "updatedAt": "2025-04-17T17:43:30.222Z",
                "stripeSubscriptionId": null,
                "twilioAccountSid": null,
                "stripeSubscriptionStatus": null,
                "stripeSubscriptionCurrentPeriodStart": null,
                "name": "Unlabeled",
                "credentialId": null,
                "serverUrl": null,
                "serverUrlSecret": null,
                "twilioOutgoingCallerId": null,
                "sipUri": null,
                "provider": "twilio",
                "fallbackForwardingPhoneNumber": null,
                "fallbackDestination": {
                  "type": "number",
                  "number": "+13346544028"
                },
                "squadId": null,
                "credentialIds": null,
                "numberE164CheckEnabled": null,
                "authentication": null,
                "server": null,
                "useClusterSip": null,
                "status": null,
                "providerResourceId": null,
                "hooks": null,
                "smsEnabled": true,
                "workflowId": null
              },
              "customer": {
                "number": "+13346544028"
              }
            }
          },
          "webhookUrl": "https://westa.app.n8n.cloud/webhook/c975d54e-6a5c-4273-985a-305aa2e73331",
          "executionMode": "production"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "westa.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "37923",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "authorization": "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjYwNkZEM0Y3NzgxNzM4N0U3NjVDRTY5NkUxNzU0RTM3ODNBODU3MkJSUzI1NiIsIng1dCI6IllHX1Q5M2dYT0g1MlhPYVc0WFZPTjRPb1Z5cyIsInR5cCI6ImF0K2p3dCJ9.eyJpc3MiOiJodHRwczovL2F1dGguc2VydmljZXRpdGFuLmlvIiwibmJmIjoxNzQ3NjgyMTI2LCJpYXQiOjE3NDc2ODIxMjYsImV4cCI6MTc0NzY4MzAyNiwic2NvcGUiOlsidG4uYWNjLmFwY3JlZGl0czpyIiwidG4uYWNjLmFwY3JlZGl0czp3IiwidG4uYWNjLmFwcGF5bWVudHM6ciIsInRuLmFjYy5hcHBheW1lbnRzOnciLCJ0bi5hY2MuZ2xhY2NvdW50czpyIiwidG4uYWNjLmdsYWNjb3VudHM6dyIsInRuLmFjYy5pbnZlbnRvcnlhZGp1c3RtZW50czpyIiwidG4uYWNjLmludmVudG9yeWFkanVzdG1lbnRzOnciLCJ0bi5hY2MuaW52ZW50b3J5YmlsbHM6ciIsInRuLmFjYy5pbnZlbnRvcnliaWxsczp3IiwidG4uYWNjLmludmVudG9yeXJlY2VpcHRzOnIiLCJ0bi5hY2MuaW52ZW50b3J5cmVjZWlwdHM6dyIsInRuLmFjYy5pbnZlbnRvcnl0cmFuc2ZlcnM6ciIsInRuLmFjYy5pbnZlbnRvcnl0cmFuc2ZlcnM6dyIsInRuLmFjYy5pbnZvaWNlaXRlbXM6ciIsInRuLmFjYy5pbnZvaWNlaXRlbXM6dyIsInRuLmFjYy5pbnZvaWNlczpyIiwidG4uYWNjLmludm9pY2VzOnciLCJ0bi5hY2Muam91cm5hbGVudHJpZXM6ciIsInRuLmFjYy5qb3VybmFsZW50cmllczp3IiwidG4uYWNjLnBheW1lbnRzOnIiLCJ0bi5hY2MucGF5bWVudHM6dyIsInRuLmFjYy5wYXltZW50dGVybXM6ciIsInRuLmFjYy5wYXltZW50dGVybXM6dyIsInRuLmFjYy5wYXltZW50dHlwZXM6ciIsInRuLmFjYy5wYXltZW50dHlwZXM6dyIsInRuLmFjYy5wdXJjaGFzZW9yZGVyczpyIiwidG4uYWNjLnB1cmNoYXNlb3JkZXJzOnciLCJ0bi5hY2MucHVyY2hhc2VyZXR1cm5zOnIiLCJ0bi5hY2MucHVyY2hhc2VyZXR1cm5zOnciLCJ0bi5hY2MudGF4em9uZXM6ciIsInRuLmFjYy50YXh6b25lczp3IiwidG4uY3JtLmJvb2tpbmdwcm92aWRlcnRhZ3M6ciIsInRuLmNybS5ib29raW5ncHJvdmlkZXJ0YWdzOnciLCJ0bi5jcm0uYm9va2luZ3M6ciIsInRuLmNybS5ib29raW5nczp3IiwidG4uY3JtLmNvbnRhY3RzOnIiLCJ0bi5jcm0uY29udGFjdHM6dyIsInRuLmNybS5jdXN0b21lcnM6ciIsInRuLmNybS5jdXN0b21lcnM6dyIsInRuLmNybS5sZWFkczpyIiwidG4uY3JtLmxlYWRzOnciLCJ0bi5jcm0ubG9jYXRpb25zOnIiLCJ0bi5jcm0ubG9jYXRpb25zOnciLCJ0bi5jcm0udGFnczpyIiwidG4uY3JtLnRhZ3M6dyIsInRuLmNzaS50ZWNobmljaWFucmF0aW5nOnIiLCJ0bi5jc2kudGVjaG5pY2lhbnJhdGluZzp3IiwidG4uZGlzLmFwcG9pbnRtZW50YXNzaWdubWVudHM6ciIsInRuLmRpcy5hcHBvaW50bWVudGFzc2lnbm1lbnRzOnciLCJ0bi5kaXMuYXJyaXZhbHdpbmRvd3M6ciIsInRuLmRpcy5hcnJpdmFsd2luZG93czp3IiwidG4uZGlzLmJ1c2luZXNzaG91cnM6ciIsInRuLmRpcy5idXNpbmVzc2hvdXJzOnciLCJ0bi5kaXMuY2FwYWNpdHk6ciIsInRuLmRpcy5jYXBhY2l0eTp3IiwidG4uZGlzLmdwc3BpbmdzOnIiLCJ0bi5kaXMuZ3BzcGluZ3M6dyIsInRuLmRpcy5ub25qb2JhcHBvaW50bWVudHM6ciIsInRuLmRpcy5ub25qb2JhcHBvaW50bWVudHM6dyIsInRuLmRpcy50ZWFtczpyIiwidG4uZGlzLnRlYW1zOnciLCJ0bi5kaXMudGVjaG5pY2lhbnNoaWZ0czpyIiwidG4uZGlzLnRlY2huaWNpYW5zaGlmdHM6dyIsInRuLmRpcy56b25lczpyIiwidG4uZGlzLnpvbmVzOnciLCJ0bi5lcXMuaW5zdGFsbGVkZXF1aXBtZW50OnIiLCJ0bi5lcXMuaW5zdGFsbGVkZXF1aXBtZW50OnciLCJ0bi5mcm0uZm9ybXM6ciIsInRuLmZybS5mb3Jtczp3IiwidG4uZnJtLmpvYnM6ciIsInRuLmZybS5qb2JzOnciLCJ0bi5mcm0uc3VibWlzc2lvbnM6ciIsInRuLmZybS5zdWJtaXNzaW9uczp3IiwidG4uaW52LmFkanVzdG1lbnRzOnIiLCJ0bi5pbnYuYWRqdXN0bWVudHM6dyIsInRuLmludi5wdXJjaGFzZW9yZGVybWFya3VwczpyIiwidG4uaW52LnB1cmNoYXNlb3JkZXJtYXJrdXBzOnciLCJ0bi5pbnYucHVyY2hhc2VvcmRlcnM6ciIsInRuLmludi5wdXJjaGFzZW9yZGVyczp3IiwidG4uaW52LnB1cmNoYXNlb3JkZXJ0eXBlczpyIiwidG4uaW52LnB1cmNoYXNlb3JkZXJ0eXBlczp3IiwidG4uaW52LnJlY2VpcHRzOnIiLCJ0bi5pbnYucmVjZWlwdHM6dyIsInRuLmludi5yZXR1cm5zOnIiLCJ0bi5pbnYucmV0dXJuczp3IiwidG4uaW52LnJldHVybnR5cGVzOnIiLCJ0bi5pbnYucmV0dXJudHlwZXM6dyIsInRuLmludi50cmFuc2ZlcnM6ciIsInRuLmludi50cmFuc2ZlcnM6dyIsInRuLmludi50cnVja3M6ciIsInRuLmludi50cnVja3M6dyIsInRuLmludi52ZW5kb3JzOnIiLCJ0bi5pbnYudmVuZG9yczp3IiwidG4uaW52LndhcmVob3VzZXM6ciIsInRuLmludi53YXJlaG91c2VzOnciLCJ0bi5qYmNlLmNhbGxyZWFzb25zOnIiLCJ0bi5qYmNlLmNhbGxyZWFzb25zOnciLCJ0bi5qcG0uYXBwb2ludG1lbnRzOnIiLCJ0bi5qcG0uYXBwb2ludG1lbnRzOnciLCJ0bi5qcG0uam9iY2FuY2VsZWRsb2dzOnIiLCJ0bi5qcG0uam9iY2FuY2VsZWRsb2dzOnciLCJ0bi5qcG0uam9iY2FuY2VscmVhc29uczpyIiwidG4uanBtLmpvYmNhbmNlbHJlYXNvbnM6dyIsInRuLmpwbS5qb2JoaXN0b3J5OnIiLCJ0bi5qcG0uam9iaGlzdG9yeTp3IiwidG4uanBtLmpvYmhvbGRyZWFzb25zOnIiLCJ0bi5qcG0uam9iaG9sZHJlYXNvbnM6dyIsInRuLmpwbS5qb2Jub3RlczpyIiwidG4uanBtLmpvYm5vdGVzOnciLCJ0bi5qcG0uam9iczpyIiwidG4uanBtLmpvYnM6dyIsInRuLmpwbS5qb2J0eXBlczpyIiwidG4uanBtLmpvYnR5cGVzOnciLCJ0bi5qcG0ucHJvamVjdG5vdGVzOnIiLCJ0bi5qcG0ucHJvamVjdG5vdGVzOnciLCJ0bi5qcG0ucHJvamVjdHM6ciIsInRuLmpwbS5wcm9qZWN0czp3IiwidG4uanBtLnByb2plY3RzdGF0dXNlczpyIiwidG4uanBtLnByb2plY3RzdGF0dXNlczp3IiwidG4uanBtLnByb2plY3RzdWJzdGF0dXNlczpyIiwidG4uanBtLnByb2plY3RzdWJzdGF0dXNlczp3IiwidG4uanBtLnByb2plY3R0eXBlczpyIiwidG4uanBtLnByb2plY3R0eXBlczp3IiwidG4ubWFkcy5hdHRyaWJ1dGVkbGVhZHM6ciIsInRuLm1hZHMuYXR0cmlidXRlZGxlYWRzOnciLCJ0bi5tYWRzLmNhcGFjaXR5d2FybmluZ3M6ciIsInRuLm1hZHMuY2FwYWNpdHl3YXJuaW5nczp3IiwidG4ubWFkcy5leHRlcm5hbGNhbGxhdHRyaWJ1dGlvbnM6ciIsInRuLm1hZHMuZXh0ZXJuYWxjYWxsYXR0cmlidXRpb25zOnciLCJ0bi5tYWRzLmpvYmF0dHJpYnV0aW9uczpyIiwidG4ubWFkcy5qb2JhdHRyaWJ1dGlvbnM6dyIsInRuLm1hZHMucGVyZm9ybWFuY2U6ciIsInRuLm1hZHMucGVyZm9ybWFuY2U6dyIsInRuLm1hZHMud2ViYm9va2luZ2F0dHJpYnV0aW9uczpyIiwidG4ubWFkcy53ZWJib29raW5nYXR0cmlidXRpb25zOnciLCJ0bi5tYWRzLndlYmxlYWRmb3JtYXR0cmlidXRpb25zOnIiLCJ0bi5tYWRzLndlYmxlYWRmb3JtYXR0cmlidXRpb25zOnciLCJ0bi5tZW0uaW52b2ljZXRlbXBsYXRlczpyIiwidG4ubWVtLmludm9pY2V0ZW1wbGF0ZXM6dyIsInRuLm1lbS5tZW1iZXJzaGlwczpyIiwidG4ubWVtLm1lbWJlcnNoaXBzOnciLCJ0bi5tZW0ubWVtYmVyc2hpcHR5cGVzOnIiLCJ0bi5tZW0ubWVtYmVyc2hpcHR5cGVzOnciLCJ0bi5tZW0ucmVjdXJyaW5nc2VydmljZWV2ZW50czpyIiwidG4ubWVtLnJlY3VycmluZ3NlcnZpY2VldmVudHM6dyIsInRuLm1lbS5yZWN1cnJpbmdzZXJ2aWNlczpyIiwidG4ubWVtLnJlY3VycmluZ3NlcnZpY2VzOnciLCJ0bi5tZW0ucmVjdXJyaW5nc2VydmljZXR5cGVzOnIiLCJ0bi5tZW0ucmVjdXJyaW5nc2VydmljZXR5cGVzOnciLCJ0bi5tcmVwLnJldmlld3M6ciIsInRuLm1yZXAucmV2aWV3czp3IiwidG4ubXJrLmNhbXBhaWduczpyIiwidG4ubXJrLmNhbXBhaWduczp3IiwidG4ubXJrLmNhdGVnb3JpZXM6ciIsInRuLm1yay5jYXRlZ29yaWVzOnciLCJ0bi5tcmsuY29zdHM6ciIsInRuLm1yay5jb3N0czp3IiwidG4ubXJrLnN1cHByZXNzaW9uczpyIiwidG4ubXJrLnN1cHByZXNzaW9uczp3IiwidG4ucGIuY2F0ZWdvcmllczpyIiwidG4ucGIuY2F0ZWdvcmllczp3IiwidG4ucGIuY3NwOnIiLCJ0bi5wYi5jc3A6dyIsInRuLnBiLmRpc2NvdW50c2FuZGZlZXM6ciIsInRuLnBiLmRpc2NvdW50c2FuZGZlZXM6dyIsInRuLnBiLmVxdWlwbWVudDpyIiwidG4ucGIuZXF1aXBtZW50OnciLCJ0bi5wYi5pbWFnZXM6ciIsInRuLnBiLmltYWdlczp3IiwidG4ucGIubWF0ZXJpYWxzOnIiLCJ0bi5wYi5tYXRlcmlhbHM6dyIsInRuLnBiLnByaWNlYm9vazpyIiwidG4ucGIucHJpY2Vib29rOnciLCJ0bi5wYi5zZXJ2aWNlczpyIiwidG4ucGIuc2VydmljZXM6dyIsInRuLnBtdC5jcmVkaXRjYXJkczpyIiwidG4ucG10LmNyZWRpdGNhcmRzOnciLCJ0bi5wcmwuYWN0aXZpdHljb2RlczpyIiwidG4ucHJsLmFjdGl2aXR5Y29kZXM6dyIsInRuLnBybC5lbXBsb3llZXM6ciIsInRuLnBybC5lbXBsb3llZXM6dyIsInRuLnBybC5ncm9zc3BheWl0ZW1zOnIiLCJ0bi5wcmwuZ3Jvc3NwYXlpdGVtczp3IiwidG4ucHJsLmpvYnM6ciIsInRuLnBybC5qb2JzOnciLCJ0bi5wcmwubG9jYXRpb25zOnIiLCJ0bi5wcmwubG9jYXRpb25zOnciLCJ0bi5wcmwubm9uam9idGltZXNoZWV0czpyIiwidG4ucHJsLm5vbmpvYnRpbWVzaGVldHM6dyIsInRuLnBybC5wYXlyb2xsYWRqdXN0bWVudHM6ciIsInRuLnBybC5wYXlyb2xsYWRqdXN0bWVudHM6dyIsInRuLnBybC5wYXlyb2xsczpyIiwidG4ucHJsLnBheXJvbGxzOnciLCJ0bi5wcmwucGF5cm9sbHNldHRpbmdzOnIiLCJ0bi5wcmwucGF5cm9sbHNldHRpbmdzOnciLCJ0bi5wcmwudGVjaG5pY2lhbnM6ciIsInRuLnBybC50ZWNobmljaWFuczp3IiwidG4ucHJsLnRpbWVzaGVldGNvZGVzOnIiLCJ0bi5wcmwudGltZXNoZWV0Y29kZXM6dyIsInRuLnJwci5keW5hbWljdmFsdWVzZXRzOnIiLCJ0bi5ycHIuZHluYW1pY3ZhbHVlc2V0czp3IiwidG4ucnByLnJlcG9ydGNhdGVnb3JpZXM6ciIsInRuLnJwci5yZXBvcnRjYXRlZ29yaWVzOnciLCJ0bi5ycHIucmVwb3J0czpyIiwidG4ucnByLnJlcG9ydHM6dyIsInRuLnNhLnNlcnZpY2VhZ3JlZW1lbnRzOnIiLCJ0bi5zYS5zZXJ2aWNlYWdyZWVtZW50czp3IiwidG4uc2FsLmVzdGltYXRlczpyIiwidG4uc2FsLmVzdGltYXRlczp3IiwidG4uc3Auc2NoZWR1bGVyczpyIiwidG4uc3Auc2NoZWR1bGVyczp3IiwidG4uc3R0LmJ1c2luZXNzdW5pdHM6ciIsInRuLnN0dC5idXNpbmVzc3VuaXRzOnciLCJ0bi5zdHQuZW1wbG95ZWVzOnIiLCJ0bi5zdHQuZW1wbG95ZWVzOnciLCJ0bi5zdHQudGFndHlwZXM6ciIsInRuLnN0dC50YWd0eXBlczp3IiwidG4uc3R0LnRlY2huaWNpYW5zOnIiLCJ0bi5zdHQudGVjaG5pY2lhbnM6dyIsInRuLnN0dC51c2Vycm9sZXM6ciIsInRuLnN0dC51c2Vycm9sZXM6dyIsInRuLnRsYy5jYWxsczpyIiwidG4udGxjLmNhbGxzOnciLCJ0bi50bGMub3B0aW5vdXQ6ciIsInRuLnRsYy5vcHRpbm91dDp3IiwidG4udG1zLmFjdGl2aXRpZXM6ciIsInRuLnRtcy5hY3Rpdml0aWVzOnciLCJ0bi50bXMuYWN0aXZpdHljYXRlZ29yaWVzOnIiLCJ0bi50bXMuYWN0aXZpdHljYXRlZ29yaWVzOnciLCJ0bi50bXMuYWN0aXZpdHl0eXBlczpyIiwidG4udG1zLmFjdGl2aXR5dHlwZXM6dyIsInRuLnRzbS5kYXRhOnIiLCJ0bi50c20uZGF0YTp3IiwidG4udHNtLnRhc2tzOnIiLCJ0bi50c20udGFza3M6dyJdLCJjbGllbnRfaWQiOiJjaWQuZDQ1a2pmNWdqcGFoZmF5d3NwZG03MG5rdCIsImFwaWFwcF9pZCI6IjF6aTB4MzRwcjlxMXIiLCJib29raW5nX3Byb3ZpZGVyIjoicHd6bm9lN3pnNnV5ejVvcHBzZ25tZmRoYyIsImV4dF9kYXRhX2d1aWQiOiJkZTU2YWRkYi0wNDk0LTQ3MWYtYTY0OS0yNDhhZWQwYWNiYTUiLCJncHNfcHJvdmlkZXIiOiJOYXRpdmUiLCJvd25lcl9pZCI6InRlbmFudC0xNTk3ODAyNjU5LWVudi1wcm9kIiwicmVwb3J0X2NhdGVnb3J5IjoicHd6bm9lN3pnNnV5ejVvcHBzZ25tZmRoYyIsInNjb3Blc192ZXJzaW9uIjoiMSIsInRlbmFudCI6IjE1OTc4MDI2NTkiLCJqdGkiOiJDRUZGNjkzMUU1RDc0M0U2REMyMkRBNDU4MzY1RTBCNyJ9.Hlk_T5jvkXktnaSipVh85N7Cz-PMSHo1b5CG_tOUAi1JODnkOVlb_gDzBXyvFuLSzfxP9RE9EH3m6RCffHUhoQtbXR6MdZMAI52G3JZ4efSXE2-kFbatufJQUeM2-bxJ_tfcaazhIIrGnqA5lzfcCl4zfZoYWDT8OA2aSOEczMgeDQGJwk97MlINAMhmfaB75YmXqzHe7yQD5__we8wlxYbHGCQ7CcKrpHiOy_7P3Zcnt6MIXSURIemm8zAqL5YSgLzqtkCxJNNFZYoC-GC8BPBqtpO3WgM2oAQtTNV5wKf7XYHvOlyFO7q3WW77-wzHy1MXaVc953uuTF-9rMBdnw",
            "baggage": "sentry-environment=production,sentry-public_key=a0021577936aec367b16615ad816c078,sentry-trace_id=e85c8df6958345af84f921eaa9add825",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "35.166.62.229",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9425ec49c694ff0f-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "cookie": "callId=501e3e79-f5a5-453d-8096-66a70dd6cf11",
            "sentry-trace": "e85c8df6958345af84f921eaa9add825-a6df9de2bc79162b",
            "x-forwarded-for": "35.166.62.229, 172.68.174.225",
            "x-forwarded-host": "westa.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-12-5464cc7f77-fxwtn",
            "x-is-trusted": "yes",
            "x-real-ip": "35.166.62.229",
            "x-vapi-secret": ""
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "timestamp": 1747682126008,
              "type": "tool-calls",
              "toolCalls": [
                {
                  "id": "call_NmT7saIsxoEERAy3smHGlE1f",
                  "type": "function",
                  "function": {
                    "name": "Book_Job",
                    "arguments": {
                      "summary": "Air conditioner not cooling properly",
                      "priority": "Normal",
                      "jobTypeId": "AC Service",
                      "campaignId": "",
                      "customerId": "11440260",
                      "locationId": "11445418",
                      "appointmentEnd": "2025-05-19T17:00:00-05:00",
                      "businessUnitId": "HVAC",
                      "appointmentStart": "2025-05-19T14:30:00-05:00"
                    }
                  },
                  "isPrecededByText": true
                }
              ],
              "toolCallList": [
                {
                  "id": "call_NmT7saIsxoEERAy3smHGlE1f",
                  "type": "function",
                  "function": {
                    "name": "Book_Job",
                    "arguments": {
                      "summary": "Air conditioner not cooling properly",
                      "priority": "Normal",
                      "jobTypeId": "AC Service",
                      "campaignId": "",
                      "customerId": "11440260",
                      "locationId": "11445418",
                      "appointmentEnd": "2025-05-19T17:00:00-05:00",
                      "businessUnitId": "HVAC",
                      "appointmentStart": "2025-05-19T14:30:00-05:00"
                    }
                  },
                  "isPrecededByText": true
                }
              ],
              "toolWithToolCallList": [
                {
                  "type": "function",
                  "function": {
                    "name": "Book_Job",
                    "parameters": {
                      "type": "object",
                      "required": [
                        "customerId",
                        "locationId",
                        "businessUnitId",
                        "jobTypeId",
                        "priority",
                        "campaignId",
                        "appointmentStart",
                        "appointmentEnd",
                        "summary"
                      ],
                      "properties": {
                        "summary": {
                          "type": "string"
                        },
                        "priority": {
                          "enum": [
                            "Low",
                            "Normal",
                            "High",
                            "Urgent"
                          ],
                          "type": "string"
                        },
                        "jobTypeId": {
                          "type": "string"
                        },
                        "campaignId": {
                          "type": "string"
                        },
                        "customerId": {
                          "type": "string"
                        },
                        "locationId": {
                          "type": "string"
                        },
                        "appointmentEnd": {
                          "type": "string"
                        },
                        "businessUnitId": {
                          "type": "string"
                        },
                        "appointmentStart": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "This tool is to book a job only after you verify customer id, location address, call type, call reason, and description of issue."
                  },
                  "async": true,
                  "server": {
                    "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                    "timeoutSeconds": 20
                  },
                  "messages": [],
                  "toolCall": {
                    "id": "call_NmT7saIsxoEERAy3smHGlE1f",
                    "type": "function",
                    "function": {
                      "name": "Book_Job",
                      "arguments": {
                        "summary": "Air conditioner not cooling properly",
                        "priority": "Normal",
                        "jobTypeId": "AC Service",
                        "campaignId": "",
                        "customerId": "11440260",
                        "locationId": "11445418",
                        "appointmentEnd": "2025-05-19T17:00:00-05:00",
                        "businessUnitId": "HVAC",
                        "appointmentStart": "2025-05-19T14:30:00-05:00"
                      }
                    },
                    "isPrecededByText": true
                  }
                }
              ],
              "artifact": {
                "messages": [
                  {
                    "role": "system",
                    "message": "You are a voice agent named Andy. You work for Anderson Plumbing, Heating & Electric, a professional residential HVAC, plumbing, and electrical company.\n\nYour job is to answer incoming calls, talk naturally like a human, and help the customer however you can—just like a real front desk team member would. Your main job is to book service calls and leads. If a customer is having an issue always try to either book a service call or book a lead for a quote. Make sure you clarify which one is which. A service call is when someone is having trouble now and they need a technician to come out to diagnose the problem. In that case you will need to book a job. A lead is when some one calls that is not having issues now but wants a price on installing a new system such as HVAC replacement, water line replacement, sewer line replacement, electrical panel upgrade, etc. A technicianc will quote the job once he diagnoses the issue for a customer or may turn the call over to sales if a system needs to...",
                    "time": 1747682043939,
                    "secondsFromStart": 0
                  },
                  {
                    "role": "bot",
                    "message": "Thank you for calling Anderson. My name is Andy. How can I help you today?",
                    "time": 1747682045512,
                    "endTime": 1747682049322,
                    "secondsFromStart": 1.36,
                    "duration": 3599.999755859375,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Hey, Andy. How are you doing today?",
                    "time": 1747682050272,
                    "endTime": 1747682051872,
                    "secondsFromStart": 6.12,
                    "duration": 1600
                  },
                  {
                    "role": "bot",
                    "message": "I'm doing mighty fine. Thank you for asking. How can I help you today?",
                    "time": 1747682054392,
                    "endTime": 1747682057762,
                    "secondsFromStart": 10.24,
                    "duration": 3120,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Hey. I'm calling. I'm having some issues with my air conditioner. I was wondering if you could help me out. Getting somebody to come take look at it.",
                    "time": 1747682059212,
                    "endTime": 1747682066832,
                    "secondsFromStart": 15.06,
                    "duration": 6959.9990234375
                  },
                  {
                    "role": "bot",
                    "message": "I'd be glad to help you get that scheduled.",
                    "time": 1747682069232,
                    "endTime": 1747682071152,
                    "secondsFromStart": 25.08,
                    "duration": 1920,
                    "source": ""
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_wIXDMYsstXAevONZ12LlwlAN",
                        "type": "function",
                        "function": {
                          "name": "Knowledge_Retrieval_Tool",
                          "arguments": "{\n  \"question\": \"What information is needed to book a service call for an air conditioner issue?\"\n}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1747682069664,
                    "secondsFromStart": 25.315
                  },
                  {
                    "role": "tool_call_result",
                    "time": 1747682070415,
                    "secondsFromStart": 26.066,
                    "name": "Knowledge_Retrieval_Tool",
                    "result": "Success.",
                    "toolCallId": "call_wIXDMYsstXAevONZ12LlwlAN"
                  },
                  {
                    "role": "user",
                    "message": "Okay. Great.",
                    "time": 1747682074812,
                    "endTime": 1747682075612,
                    "secondsFromStart": 30.66,
                    "duration": 800
                  },
                  {
                    "role": "bot",
                    "message": "Alright, Wesley. Since you're having trouble with your air conditioner right now, we'll want to book a service call for a technician to come out and diagnose the issue. I'll need to confirm a few things for the service call, the address where the service is needed, a brief description of what's wrong with the AC, and your preferred time for the appointment. Your address on file is 15 1 7 Greenwood Circle in Demopolis, Alabama. Right? And could you describe what's going on with your air conditioner? Also, when would be a good time us to send someone out?",
                    "time": 1747682080392,
                    "endTime": 1747682109462,
                    "secondsFromStart": 36.24,
                    "duration": 27199.994140625,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Yeah. Just noticed it's not cooling very good.",
                    "time": 1747682112142,
                    "endTime": 1747682115322.006,
                    "secondsFromStart": 67.99,
                    "duration": 2879.9951171875
                  },
                  {
                    "role": "bot",
                    "message": "Got it, Wesley. Your air",
                    "time": 1747682117042,
                    "endTime": 1747682118722,
                    "secondsFromStart": 72.89,
                    "duration": 1680,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "You could you could the body anytime. I'll be here.",
                    "time": 1747682117702,
                    "endTime": 1747682122122,
                    "secondsFromStart": 73.55,
                    "duration": 3520
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_NmT7saIsxoEERAy3smHGlE1f",
                        "type": "function",
                        "function": {
                          "name": "Book_Job",
                          "arguments": "{\n  \"summary\": \"Air conditioner not cooling properly\",\n  \"priority\": \"Normal\",\n  \"jobTypeId\": \"AC Service\",\n  \"campaignId\": \"\",\n  \"customerId\": \"11440260\",\n  \"locationId\": \"11445418\",\n  \"appointmentEnd\": \"2025-05-19T17:00:00-05:00\",\n  \"businessUnitId\": \"HVAC\",\n  \"appointmentStart\": \"2025-05-19T14:30:00-05:00\"\n}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1747682126007,
                    "secondsFromStart": 81.658
                  }
                ],
                "messagesOpenAIFormatted": [
                  {
                    "role": "system",
                    "content": "You are a voice agent named Andy. You work for Anderson Plumbing, Heating & Electric, a professional residential HVAC, plumbing, and electrical company.\n\nYour job is to answer incoming calls, talk naturally like a human, and help the customer however you can—just like a real front desk team member would. Your main job is to book service calls and leads. If a customer is having an issue always try to either book a service call or book a lead for a quote. Make sure you clarify which one is which. A service call is when someone is having trouble now and they need a technician to come out to diagnose the problem. In that case you will need to book a job. A lead is when some one calls that is not having issues now but wants a price on installing a new system such as HVAC replacement, water line replacement, sewer line replacement, electrical panel upgrade, etc. A technicianc will quote the job once he diagnoses the issue for a customer or may turn the call over to sales if a system needs to..."
                  },
                  {
                    "role": "assistant",
                    "content": "Thank you for calling Anderson. My name is Andy. How can I help you today?"
                  },
                  {
                    "role": "user",
                    "content": "Hey, Andy. How are you doing today?"
                  },
                  {
                    "role": "assistant",
                    "content": "I'm doing mighty fine. Thank you for asking. How can I help you today?"
                  },
                  {
                    "role": "user",
                    "content": "Hey. I'm calling. I'm having some issues with my air conditioner. I was wondering if you could help me out. Getting somebody to come take look at it."
                  },
                  {
                    "role": "assistant",
                    "content": "I'd be glad to help you get that scheduled.",
                    "tool_calls": [
                      {
                        "id": "call_wIXDMYsstXAevONZ12LlwlAN",
                        "type": "function",
                        "function": {
                          "name": "Knowledge_Retrieval_Tool",
                          "arguments": "{\n  \"question\": \"What information is needed to book a service call for an air conditioner issue?\"\n}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_wIXDMYsstXAevONZ12LlwlAN",
                    "content": "Success."
                  },
                  {
                    "role": "user",
                    "content": "Okay. Great."
                  },
                  {
                    "role": "assistant",
                    "content": "Alright, Wesley. Since you're having trouble with your air conditioner right now, we'll want to book a service call for a technician to come out and diagnose the issue. I'll need to confirm a few things for the service call, the address where the service is needed, a brief description of what's wrong with the AC, and your preferred time for the appointment. Your address on file is 15 1 7 Greenwood Circle in Demopolis, Alabama. Right? And could you describe what's going on with your air conditioner? Also, when would be a good time us to send someone out?"
                  },
                  {
                    "role": "user",
                    "content": "Yeah. Just noticed it's not cooling very good."
                  },
                  {
                    "role": "assistant",
                    "content": "Got it, Wesley. Your air"
                  },
                  {
                    "role": "user",
                    "content": "You could you could the body anytime. I'll be here."
                  },
                  {
                    "role": "assistant",
                    "tool_calls": [
                      {
                        "id": "call_NmT7saIsxoEERAy3smHGlE1f",
                        "type": "function",
                        "function": {
                          "name": "Book_Job",
                          "arguments": "{\n  \"summary\": \"Air conditioner not cooling properly\",\n  \"priority\": \"Normal\",\n  \"jobTypeId\": \"AC Service\",\n  \"campaignId\": \"\",\n  \"customerId\": \"11440260\",\n  \"locationId\": \"11445418\",\n  \"appointmentEnd\": \"2025-05-19T17:00:00-05:00\",\n  \"businessUnitId\": \"HVAC\",\n  \"appointmentStart\": \"2025-05-19T14:30:00-05:00\"\n}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_NmT7saIsxoEERAy3smHGlE1f",
                    "content": "Tool Result Still Pending But Proceed Further If Possible."
                  }
                ]
              },
              "call": {
                "id": "501e3e79-f5a5-453d-8096-66a70dd6cf11",
                "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                "createdAt": "2025-05-19T19:13:58.744Z",
                "updatedAt": "2025-05-19T19:13:58.744Z",
                "type": "inboundPhoneCall",
                "monitor": {
                  "listenUrl": "wss://phone-call-websocket.aws-us-west-2-backend-production2.vapi.ai/501e3e79-f5a5-453d-8096-66a70dd6cf11/listen",
                  "controlUrl": "https://phone-call-websocket.aws-us-west-2-backend-production2.vapi.ai/501e3e79-f5a5-453d-8096-66a70dd6cf11/control"
                },
                "transport": {
                  "provider": "twilio",
                  "callSid": "CAeeb85e1696eef11302f3a6e28a577274",
                  "accountSid": "AC1266bf969e764792fc5bc5d5c002e088",
                  "callToken": "%7B%22parentCallInfoToken%22%3A%22eyJhbGciOiJFUzI1NiJ9.eyJjYWxsU2lkIjoiQ0FlZWI4NWUxNjk2ZWVmMTEzMDJmM2E2ZTI4YTU3NzI3NCIsImZyb20iOiIrMTMzNDY1NDQwMjgiLCJ0byI6IisxMzM0NjQwNjcxMiIsImlhdCI6IjE3NDc2ODIwMzgifQ.UgDpQ0nyVoIM70pif6Gh-nU4AQyzHUeyMpBVfere3spmS24xRxfjrj39vWOoUQVMFG4FPYj_eoA2k9Pp6rH3LA%22%2C%22identityHeaderTokens%22%3A%5B%5D%7D"
                },
                "phoneCallProvider": "twilio",
                "phoneCallProviderId": "CAeeb85e1696eef11302f3a6e28a577274",
                "phoneCallTransport": "pstn",
                "status": "ringing",
                "assistant": {
                  "name": "Andy",
                  "transcriber": {
                    "model": "nova-3",
                    "language": "en",
                    "numerals": true,
                    "provider": "deepgram",
                    "endpointing": 300,
                    "confidenceThreshold": 0.4
                  },
                  "model": {
                    "model": "gpt-4.1-mini",
                    "temperature": 1,
                    "messages": [
                      {
                        "content": "You are a voice agent named Andy. You work for Anderson Plumbing, Heating & Electric, a professional residential HVAC, plumbing, and electrical company.\n\nYour job is to answer incoming calls, talk naturally like a human, and help the customer however you can—just like a real front desk team member would. Your main job is to book service calls and leads. If a customer is having an issue always try to either book a service call or book a lead for a quote. Make sure you clarify which one is which. A service call is when someone is having trouble now and they need a technician to come out to diagnose the problem. In that case you will need to book a job. A lead is when some one calls that is not having issues now but wants a price on installing a new system such as HVAC replacement, water line replacement, sewer line replacement, electrical panel upgrade, etc. A technicianc will quote the job once he diagnoses the issue for a customer or may turn the call over to sales if a system needs to be replaced. In order to book a job or lead you should query the knowledbase tool to get steps on what information is needed to perform that task. You do not mention that you're an AI or assistant. Stay in character at all times.\n\n🔸 How You Should Sound\nSpeak like a friendly, helpful person from the South.\n\nUse a warm, professional, conversational tone.\n\nIt’s okay to use small pauses and filler words like “um,” “okay,” “alright,” and “let me see…”\n\nKeep your energy positive, polite, and natural—smile through your voice.\n\nUse contractions and basic words: say “you’re,” not “you are”; “we’ll,” not “we will.”\n\nDon’t speak like a robot or a script—speak like you’d talk to someone at the front desk.\n\n🔸 How to Handle Calls\nYou should listen carefully, respond conversationally, and use the knowledge base tool for:\n\nAnswering customer questions\n\nBooking a service call\n\nHandling billing or payment\n\nChecking if a service is available\n\nKnowing how to respond in specific situations (e.g., emergencies, callbacks, after-hours)\n\nEverything else a CSR at a trades company would handle\n\nIf the customer asks anything you're unsure of or not covered in this prompt, immediately use the knowledge base retrieval tool to figure out what to say or do.\n\n once you have helped the customer and the customer has no more questions simply say: Thank you for calling Anderson. Hope you have a great day. Then let the customer respond and if they say thanks you too simply use the end call function and say goodbye. Do not repeat you have a great day again.\n\n🔸 Final Instruction\nYour goal is to sound like a real person who cares, solve the customer’s problem, and either handle it yourself or ask the knowledge base tool to guide you step-by-step. Use your tools to look up anything you dont have direction on. Do not make up any prices or information. If you do not know what the information they are looking for is simply say you will have to check on that and have some one call them back.\n\nHere is the current date and time 2025-05-19T14:14:03.716-05:00.\n Look up in the database how to close each call out before hanging up.\n If customer asks a question about their account look up in the database how to find out that information, then run the appropriate tool with the information needed to run that tool.\n Here is the customer who is calling. If there is more than one customer confirm which account they are calling about. Use this data to send in tool calls if a task is needed. Do not ask the customer to repeat any information that you have already. Simply confirm the data. Customer 1 Info: ID:11440260, Name:Wesley Anderson, Customer Type:Residential, Address: Street:1617 Greenwood Circle, City:Demopolis, State:AL, Zip:36732, Balance:15399.31, Do not mail:false, Do not service:false. Customer 2 Info: ID:, Name:, Customer Type:, Address: Street:, City:, State:, Zip:, Balance:, Do not mail:, Do not service:. Contacts: Contact Id: 23099720, Contact Type:Email:Wesleyta1125@gmail.com Memo: Contact Id: 41903034, Contact Type:Email:wesleytanderson@bellsouth.net Memo: Contact Id: 42034362, Contact type:MobilePhone:3346544028 Memo: Contact Id: , Contact type:: Memo:. Customer Appointments:Appointment 1: ID:14813360, job number:14813360, project id:, customer id:11440260, location id:11445418, job status:Completed, completed on:2022-12-14T19:29:52.7Z,summary:Outside unit not coming on.Appointment 2: ID:16123160, job number:16123160, project id:, customer id:11440260, location id:11449540, job status:Completed, completed on:2022-12-15T16:42:00Z,summary:Is having trouble with the heat not coming on. He said it is like the furnace is trying to light but never does.Appointment 3: ID:30693434, job number:30693434, project id:, customer id:11440260, location id:11449165, job status:Completed, completed on:2025-05-07T13:28:00Z,summary:Install new receptacles and switches.Appointment 4: ID:, job number:, project id:, customer id:, location id:, job status:, completed on:,summary:.Appointment 5: ID:, job number:, project id:, customer id:, location id:, job status:, completed on:,summary:.",
                        "role": "system"
                      }
                    ],
                    "toolIds": [
                      "54551150-4594-41b0-b702-921330e701c2",
                      "a1c3855f-9057-441c-ba60-0b7275e37e4f",
                      "47063144-f7af-4b86-8c62-1dd554ca83d1",
                      "d73b3bb4-feb4-453b-bc37-38b3a9956fe2",
                      "ed01990d-8bc5-403b-adb6-dea569e241da",
                      "6014f5c2-35bc-4f73-aa77-4d09d1a2133f",
                      "69dc16bf-0ebf-4965-9388-becb28ab8774",
                      "22b3b340-2138-403f-969f-48f796f15997",
                      "0e29e8a1-79ea-4955-ac54-3b06e7ddf63b"
                    ],
                    "provider": "openai"
                  },
                  "voice": {
                    "voiceId": "Harry",
                    "provider": "vapi",
                    "inputPunctuationBoundaries": [
                      ";",
                      "."
                    ]
                  },
                  "firstMessage": "Thank you for calling Anderson. My name is Andy. How can I help you today?",
                  "voicemailDetection": {
                    "provider": "vapi",
                    "backoffPlan": {
                      "maxRetries": 6,
                      "startAtSeconds": 5,
                      "frequencySeconds": 5
                    },
                    "beepMaxAwaitSeconds": 1
                  },
                  "voicemailMessage": "This is Andy with Anderson Plumbing, Heating and Electric. If you could, please give us a call back at 334-289-4985. Thank you and have a great day!",
                  "endCallMessage": "Goodbye",
                  "endCallFunctionEnabled": true,
                  "dialKeypadFunctionEnabled": false,
                  "hipaaEnabled": false,
                  "clientMessages": [
                    "transcript",
                    "hang",
                    "function-call",
                    "speech-update",
                    "metadata",
                    "transfer-update",
                    "conversation-update",
                    "workflow.node.started"
                  ],
                  "serverMessages": [
                    "end-of-call-report",
                    "tool-calls"
                  ],
                  "maxDurationSeconds": 4089,
                  "serverUrl": "https://westa.app.n8n.cloud/webhook-test/728028cb-8f21-4ffe-b841-1cf94fe89682",
                  "backgroundSound": "office",
                  "backchannelingEnabled": true,
                  "backgroundDenoisingEnabled": true,
                  "analysisPlan": {
                    "structuredDataPrompt": "You will be given the transcript of a phone call. Please find the following information in the call and determine what the answer should be. If you can not come up with an answer just insert N/A:\nCustomer Name:\nCustomer Address:\nCustomer Email:\nCall Type: What was the main reason for the call?\tExample: service request, billing question, faq, emergency, cancelation\t\nCall Result: What was the outcome of the call? Example: job booked, info given, callback scheduled, unable to help, forwarded to team\t\nCustomer Intent:\tWhat was the goal of the customer? Example: get estimate, book appointment, inquire service area, follow up on invoice\t\nCustomer Satisfaction Estimate: Best guess based on tone or language. Example: positive, neutral, frustrated\nAgent Confidence: How confident was the AI in handling the call? Example: 0.85\nNeeds Follow Up: Should a human or AI follow up? This should be a \"True\" or \"False\" answer\nFollow Up Reason: Why does it need follow-up? invoice dispute, missed booking, wants callback, manual review needed",
                    "structuredDataSchema": {
                      "type": "object",
                      "properties": {
                        "call_type": {
                          "type": "string"
                        },
                        "call_result": {
                          "type": "string"
                        },
                        "customer_name": {
                          "type": "string"
                        },
                        "customer_email": {
                          "type": "string"
                        },
                        "customer_intent": {
                          "type": "string"
                        },
                        "needs_follow_up": {
                          "type": "string"
                        },
                        "agent_confidence": {
                          "type": "string"
                        },
                        "customer_address": {
                          "type": "string"
                        },
                        "follow_up_reason": {
                          "type": "string"
                        },
                        "customer_satisfaction_estimate": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "call_type",
                        "call_result",
                        "customer_name",
                        "customer_email",
                        "customer_intent",
                        "needs_follow_up",
                        "agent_confidence",
                        "customer_address",
                        "follow_up_reason",
                        "customer_satisfaction_estimate"
                      ]
                    }
                  },
                  "messagePlan": {
                    "idleMessageMaxSpokenCount": 3,
                    "idleTimeoutSeconds": 15.2
                  },
                  "startSpeakingPlan": {
                    "waitSeconds": 2,
                    "smartEndpointingEnabled": "livekit",
                    "smartEndpointingPlan": {
                      "provider": "vapi"
                    }
                  },
                  "stopSpeakingPlan": {
                    "numWords": 1,
                    "backoffSeconds": 4
                  },
                  "server": {
                    "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                    "timeoutSeconds": 15
                  }
                },
                "phoneNumberId": "c4f8e8a0-deae-4d2a-ad76-4a86de378af1",
                "customer": {
                  "number": "+13346544028"
                }
              },
              "phoneNumber": {
                "id": "c4f8e8a0-deae-4d2a-ad76-4a86de378af1",
                "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                "number": "+13346406712",
                "createdAt": "2024-07-24T22:52:11.336Z",
                "updatedAt": "2025-04-17T17:43:30.222Z",
                "name": "Unlabeled",
                "provider": "twilio",
                "fallbackDestination": {
                  "type": "number",
                  "number": "+13346544028"
                },
                "smsEnabled": true
              },
              "customer": {
                "number": "+13346544028"
              },
              "assistant": {
                "name": "Andy",
                "transcriber": {
                  "model": "nova-3",
                  "language": "en",
                  "numerals": true,
                  "provider": "deepgram",
                  "endpointing": 300,
                  "confidenceThreshold": 0.4
                },
                "model": {
                  "model": "gpt-4.1-mini",
                  "temperature": 1,
                  "messages": [
                    {
                      "content": "You are a voice agent named Andy. You work for Anderson Plumbing, Heating & Electric, a professional residential HVAC, plumbing, and electrical company.\n\nYour job is to answer incoming calls, talk naturally like a human, and help the customer however you can—just like a real front desk team member would. Your main job is to book service calls and leads. If a customer is having an issue always try to either book a service call or book a lead for a quote. Make sure you clarify which one is which. A service call is when someone is having trouble now and they need a technician to come out to diagnose the problem. In that case you will need to book a job. A lead is when some one calls that is not having issues now but wants a price on installing a new system such as HVAC replacement, water line replacement, sewer line replacement, electrical panel upgrade, etc. A technicianc will quote the job once he diagnoses the issue for a customer or may turn the call over to sales if a system needs to be replaced. In order to book a job or lead you should query the knowledbase tool to get steps on what information is needed to perform that task. You do not mention that you're an AI or assistant. Stay in character at all times.\n\n🔸 How You Should Sound\nSpeak like a friendly, helpful person from the South.\n\nUse a warm, professional, conversational tone.\n\nIt’s okay to use small pauses and filler words like “um,” “okay,” “alright,” and “let me see…”\n\nKeep your energy positive, polite, and natural—smile through your voice.\n\nUse contractions and basic words: say “you’re,” not “you are”; “we’ll,” not “we will.”\n\nDon’t speak like a robot or a script—speak like you’d talk to someone at the front desk.\n\n🔸 How to Handle Calls\nYou should listen carefully, respond conversationally, and use the knowledge base tool for:\n\nAnswering customer questions\n\nBooking a service call\n\nHandling billing or payment\n\nChecking if a service is available\n\nKnowing how to respond in specific situations (e.g., emergencies, callbacks, after-hours)\n\nEverything else a CSR at a trades company would handle\n\nIf the customer asks anything you're unsure of or not covered in this prompt, immediately use the knowledge base retrieval tool to figure out what to say or do.\n\n once you have helped the customer and the customer has no more questions simply say: Thank you for calling Anderson. Hope you have a great day. Then let the customer respond and if they say thanks you too simply use the end call function and say goodbye. Do not repeat you have a great day again.\n\n🔸 Final Instruction\nYour goal is to sound like a real person who cares, solve the customer’s problem, and either handle it yourself or ask the knowledge base tool to guide you step-by-step. Use your tools to look up anything you dont have direction on. Do not make up any prices or information. If you do not know what the information they are looking for is simply say you will have to check on that and have some one call them back.\n\nHere is the current date and time 2025-05-19T14:14:03.716-05:00.\n Look up in the database how to close each call out before hanging up.\n If customer asks a question about their account look up in the database how to find out that information, then run the appropriate tool with the information needed to run that tool.\n Here is the customer who is calling. If there is more than one customer confirm which account they are calling about. Use this data to send in tool calls if a task is needed. Do not ask the customer to repeat any information that you have already. Simply confirm the data. Customer 1 Info: ID:11440260, Name:Wesley Anderson, Customer Type:Residential, Address: Street:1617 Greenwood Circle, City:Demopolis, State:AL, Zip:36732, Balance:15399.31, Do not mail:false, Do not service:false. Customer 2 Info: ID:, Name:, Customer Type:, Address: Street:, City:, State:, Zip:, Balance:, Do not mail:, Do not service:. Contacts: Contact Id: 23099720, Contact Type:Email:Wesleyta1125@gmail.com Memo: Contact Id: 41903034, Contact Type:Email:wesleytanderson@bellsouth.net Memo: Contact Id: 42034362, Contact type:MobilePhone:3346544028 Memo: Contact Id: , Contact type:: Memo:. Customer Appointments:Appointment 1: ID:14813360, job number:14813360, project id:, customer id:11440260, location id:11445418, job status:Completed, completed on:2022-12-14T19:29:52.7Z,summary:Outside unit not coming on.Appointment 2: ID:16123160, job number:16123160, project id:, customer id:11440260, location id:11449540, job status:Completed, completed on:2022-12-15T16:42:00Z,summary:Is having trouble with the heat not coming on. He said it is like the furnace is trying to light but never does.Appointment 3: ID:30693434, job number:30693434, project id:, customer id:11440260, location id:11449165, job status:Completed, completed on:2025-05-07T13:28:00Z,summary:Install new receptacles and switches.Appointment 4: ID:, job number:, project id:, customer id:, location id:, job status:, completed on:,summary:.Appointment 5: ID:, job number:, project id:, customer id:, location id:, job status:, completed on:,summary:.",
                      "role": "system"
                    }
                  ],
                  "toolIds": [
                    "54551150-4594-41b0-b702-921330e701c2",
                    "a1c3855f-9057-441c-ba60-0b7275e37e4f",
                    "47063144-f7af-4b86-8c62-1dd554ca83d1",
                    "d73b3bb4-feb4-453b-bc37-38b3a9956fe2",
                    "ed01990d-8bc5-403b-adb6-dea569e241da",
                    "6014f5c2-35bc-4f73-aa77-4d09d1a2133f",
                    "69dc16bf-0ebf-4965-9388-becb28ab8774",
                    "22b3b340-2138-403f-969f-48f796f15997",
                    "0e29e8a1-79ea-4955-ac54-3b06e7ddf63b"
                  ],
                  "provider": "openai",
                  "tools": [
                    {
                      "id": "54551150-4594-41b0-b702-921330e701c2",
                      "createdAt": "2025-04-10T18:06:44.764Z",
                      "updatedAt": "2025-05-02T18:21:10.058Z",
                      "type": "function",
                      "function": {
                        "name": "Look_Up_Customer",
                        "strict": false,
                        "parameters": {
                          "type": "object",
                          "required": [
                            "SearchCustomerByName",
                            "SearchCustomersByPhone",
                            "SearchCustomerByAddress"
                          ],
                          "properties": {
                            "SearchCustomerByName": {
                              "type": "string",
                              "description": "Customer Name"
                            },
                            "SearchCustomersByPhone": {
                              "type": "string",
                              "description": "Customer Phone Number"
                            },
                            "SearchCustomerByAddress": {
                              "type": "string",
                              "description": "Customer Address"
                            }
                          }
                        },
                        "description": "This tool is used for looking up customer information by either phone number, name or address. Please send all relevant information you have to use this tool"
                      },
                      "messages": [],
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                      "server": {
                        "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                        "timeoutSeconds": 20
                      },
                      "async": true
                    },
                    {
                      "id": "a1c3855f-9057-441c-ba60-0b7275e37e4f",
                      "createdAt": "2025-03-18T20:36:07.278Z",
                      "updatedAt": "2025-05-01T14:34:27.852Z",
                      "type": "transferCall",
                      "function": {
                        "name": "transfer_call_to_accounting",
                        "strict": false,
                        "parameters": {
                          "type": "object",
                          "required": [],
                          "properties": {}
                        },
                        "description": "Transfer calls to accounting for accounts receivable or accounts payable"
                      },
                      "messages": [],
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                      "server": {
                        "url": "https://hook.us1.make.com/9huxnil0s1kdf7do51q8e3qx8o8paste"
                      },
                      "async": false,
                      "destinations": [
                        {
                          "type": "number",
                          "number": "+13342164352",
                          "message": "Hold on while I transfer you to accounting.",
                          "description": "Accounting",
                          "transferPlan": {
                            "mode": "warm-transfer-wait-for-operator-to-speak-first-and-then-say-message",
                            "message": "Hello Sunshine I have a customer on the line that needs your help",
                            "sipVerb": "refer",
                            "summaryPlan": {
                              "enabled": true,
                              "timeoutSeconds": 5,
                              "useAssistantLlm": true
                            }
                          },
                          "numberE164CheckEnabled": true
                        },
                        {
                          "type": "number",
                          "number": "+13346544028",
                          "message": "Hold on one second while I transfer you.",
                          "callerId": "Accounting Transfer",
                          "transferPlan": {
                            "mode": "warm-transfer-wait-for-operator-to-speak-first-and-then-say-message",
                            "message": "Hello Wesley. I have a customer on the line that needs accounting help",
                            "sipVerb": "refer"
                          },
                          "numberE164CheckEnabled": true
                        }
                      ]
                    },
                    {
                      "id": "47063144-f7af-4b86-8c62-1dd554ca83d1",
                      "createdAt": "2025-04-22T02:36:23.523Z",
                      "updatedAt": "2025-05-02T18:20:31.407Z",
                      "type": "function",
                      "function": {
                        "name": "Book_Job",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "customerId",
                            "locationId",
                            "businessUnitId",
                            "jobTypeId",
                            "priority",
                            "campaignId",
                            "appointmentStart",
                            "appointmentEnd",
                            "summary"
                          ],
                          "properties": {
                            "summary": {
                              "type": "string"
                            },
                            "priority": {
                              "enum": [
                                "Low",
                                "Normal",
                                "High",
                                "Urgent"
                              ],
                              "type": "string"
                            },
                            "jobTypeId": {
                              "type": "string"
                            },
                            "campaignId": {
                              "type": "string"
                            },
                            "customerId": {
                              "type": "string"
                            },
                            "locationId": {
                              "type": "string"
                            },
                            "appointmentEnd": {
                              "type": "string"
                            },
                            "businessUnitId": {
                              "type": "string"
                            },
                            "appointmentStart": {
                              "type": "string"
                            }
                          }
                        },
                        "description": "This tool is to book a job only after you verify customer id, location address, call type, call reason, and description of issue."
                      },
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                      "server": {
                        "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                        "timeoutSeconds": 20
                      },
                      "async": true
                    },
                    {
                      "id": "d73b3bb4-feb4-453b-bc37-38b3a9956fe2",
                      "createdAt": "2025-04-22T02:33:33.608Z",
                      "updatedAt": "2025-04-22T02:36:17.938Z",
                      "type": "endCall",
                      "function": {
                        "name": "end_call_tool",
                        "parameters": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "EndCall": {
                              "type": "string",
                              "description": "end phone call after goodbyes"
                            }
                          }
                        },
                        "description": "This tool disconnects the phone call. Use this once you have said your goodbyes and user doesnt say anything else for 1-2 seconds."
                      },
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295"
                    },
                    {
                      "id": "ed01990d-8bc5-403b-adb6-dea569e241da",
                      "createdAt": "2025-04-17T19:51:10.544Z",
                      "updatedAt": "2025-05-02T18:20:38.909Z",
                      "type": "function",
                      "function": {
                        "name": "Get_Customer_Contacts",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "customerId"
                          ],
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "Page number to retrieve (starts at 1)"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "How many contacts to return"
                            },
                            "customerId": {
                              "type": "string",
                              "description": "The ServiceTitan Customer ID"
                            },
                            "includeTotal": {
                              "type": "boolean",
                              "description": "Whether to include the total count"
                            }
                          }
                        },
                        "description": "This tool gets all the customers contacts. Must have customer id to use this tool. Get customer id from searching customers name, address, or phone number"
                      },
                      "messages": [
                        {
                          "type": "request-response-delayed",
                          "content": "The response is taking too long",
                          "timingMilliseconds": 10000
                        }
                      ],
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                      "server": {
                        "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                        "timeoutSeconds": 20
                      },
                      "async": true
                    },
                    {
                      "id": "6014f5c2-35bc-4f73-aa77-4d09d1a2133f",
                      "createdAt": "2025-04-17T19:46:09.350Z",
                      "updatedAt": "2025-05-02T18:20:46.699Z",
                      "type": "function",
                      "function": {
                        "name": "Update_Customer_Contact",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "customerId",
                            "contactId"
                          ],
                          "properties": {
                            "memo": {
                              "type": "string",
                              "description": "Short description of this contact, like 'work #'"
                            },
                            "type": {
                              "enum": [
                                "Phone",
                                "Email",
                                "Fax",
                                "MobilePhone",
                                "Landline"
                              ],
                              "type": "string",
                              "description": "Type of contact (e.g., MobilePhone, Email)"
                            },
                            "value": {
                              "type": "string",
                              "description": "The new phone number or email address"
                            },
                            "contactId": {
                              "type": "string",
                              "description": "The ID of the contact to update"
                            },
                            "customerId": {
                              "type": "string",
                              "description": "The ServiceTitan customer ID"
                            }
                          }
                        },
                        "description": "This tool updates an existing customer contact"
                      },
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                      "server": {
                        "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                        "timeoutSeconds": 20
                      },
                      "async": true
                    },
                    {
                      "id": "69dc16bf-0ebf-4965-9388-becb28ab8774",
                      "createdAt": "2025-04-17T19:11:26.573Z",
                      "updatedAt": "2025-05-02T18:20:54.365Z",
                      "type": "function",
                      "function": {
                        "name": "Create_Customer_Contact",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "customerId",
                            "type",
                            "value"
                          ],
                          "properties": {
                            "memo": {
                              "type": "string",
                              "description": "Optional description of the contact, like 'work phone' or 'main email'"
                            },
                            "type": {
                              "enum": [
                                "Phone",
                                "Email",
                                "Fax",
                                "MobilePhone",
                                "Landline"
                              ],
                              "type": "string",
                              "description": "Type of contact (e.g. Phone, Email, etc.)"
                            },
                            "value": {
                              "type": "string",
                              "description": "Phone number or email address"
                            },
                            "customerId": {
                              "type": "string",
                              "description": "ServiceTitan Customer ID"
                            }
                          }
                        },
                        "description": "This tool is used if you need to add a phone number or email to the customers account. You will need to collect this information before running this tool. Customer ID. You can get this by searching customer name, address, or phone number."
                      },
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                      "server": {
                        "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                        "timeoutSeconds": 20
                      },
                      "async": true
                    },
                    {
                      "id": "22b3b340-2138-403f-969f-48f796f15997",
                      "createdAt": "2025-04-17T19:01:04.320Z",
                      "updatedAt": "2025-05-02T18:21:02.538Z",
                      "type": "function",
                      "function": {
                        "name": "Create_New_Customer",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "name",
                            "phone",
                            "street",
                            "city",
                            "state",
                            "zip"
                          ],
                          "properties": {
                            "zip": {
                              "type": "string",
                              "description": "Zip code"
                            },
                            "city": {
                              "type": "string",
                              "description": "City"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the customer"
                            },
                            "unit": {
                              "type": "string",
                              "description": "Apartment or unit number"
                            },
                            "email": {
                              "type": "string",
                              "description": "Customer email address"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Primary phone number"
                            },
                            "state": {
                              "type": "string",
                              "description": "State abbreviation (e.g., AL)"
                            },
                            "street": {
                              "type": "string",
                              "description": "Street address"
                            }
                          }
                        },
                        "description": "This tool creates a new customer in Servicetitan."
                      },
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                      "server": {
                        "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                        "timeoutSeconds": 20
                      },
                      "async": true
                    },
                    {
                      "id": "0e29e8a1-79ea-4955-ac54-3b06e7ddf63b",
                      "createdAt": "2025-05-01T14:38:24.135Z",
                      "updatedAt": "2025-05-02T18:20:18.746Z",
                      "type": "function",
                      "function": {
                        "name": "Knowledge_Retrieval_Tool",
                        "parameters": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "question": {
                              "type": "string",
                              "description": "what you need to retrieve information about."
                            }
                          }
                        },
                        "description": "This tool can look up past conversations you may have had with a customer. Look up company policies and how to handle situations."
                      },
                      "orgId": "43c72ee5-f84f-4862-81ff-c253e6e69295",
                      "server": {
                        "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                        "timeoutSeconds": 20
                      },
                      "async": true
                    }
                  ]
                },
                "voice": {
                  "voiceId": "Harry",
                  "provider": "vapi",
                  "inputPunctuationBoundaries": [
                    ";",
                    "."
                  ]
                },
                "firstMessage": "Thank you for calling Anderson. My name is Andy. How can I help you today?",
                "voicemailDetection": {
                  "provider": "vapi",
                  "backoffPlan": {
                    "maxRetries": 6,
                    "startAtSeconds": 5,
                    "frequencySeconds": 5
                  },
                  "beepMaxAwaitSeconds": 1
                },
                "voicemailMessage": "This is Andy with Anderson Plumbing, Heating and Electric. If you could, please give us a call back at 334-289-4985. Thank you and have a great day!",
                "endCallMessage": "Goodbye",
                "endCallFunctionEnabled": true,
                "dialKeypadFunctionEnabled": false,
                "hipaaEnabled": false,
                "clientMessages": [
                  "transcript",
                  "hang",
                  "function-call",
                  "speech-update",
                  "metadata",
                  "transfer-update",
                  "conversation-update",
                  "workflow.node.started"
                ],
                "serverMessages": [
                  "end-of-call-report",
                  "tool-calls"
                ],
                "maxDurationSeconds": 4089,
                "serverUrl": "https://westa.app.n8n.cloud/webhook-test/728028cb-8f21-4ffe-b841-1cf94fe89682",
                "backgroundSound": "office",
                "backchannelingEnabled": true,
                "backgroundDenoisingEnabled": true,
                "analysisPlan": {
                  "structuredDataPrompt": "You will be given the transcript of a phone call. Please find the following information in the call and determine what the answer should be. If you can not come up with an answer just insert N/A:\nCustomer Name:\nCustomer Address:\nCustomer Email:\nCall Type: What was the main reason for the call?\tExample: service request, billing question, faq, emergency, cancelation\t\nCall Result: What was the outcome of the call? Example: job booked, info given, callback scheduled, unable to help, forwarded to team\t\nCustomer Intent:\tWhat was the goal of the customer? Example: get estimate, book appointment, inquire service area, follow up on invoice\t\nCustomer Satisfaction Estimate: Best guess based on tone or language. Example: positive, neutral, frustrated\nAgent Confidence: How confident was the AI in handling the call? Example: 0.85\nNeeds Follow Up: Should a human or AI follow up? This should be a \"True\" or \"False\" answer\nFollow Up Reason: Why does it need follow-up? invoice dispute, missed booking, wants callback, manual review needed",
                  "structuredDataSchema": {
                    "type": "object",
                    "properties": {
                      "call_type": {
                        "type": "string"
                      },
                      "call_result": {
                        "type": "string"
                      },
                      "customer_name": {
                        "type": "string"
                      },
                      "customer_email": {
                        "type": "string"
                      },
                      "customer_intent": {
                        "type": "string"
                      },
                      "needs_follow_up": {
                        "type": "string"
                      },
                      "agent_confidence": {
                        "type": "string"
                      },
                      "customer_address": {
                        "type": "string"
                      },
                      "follow_up_reason": {
                        "type": "string"
                      },
                      "customer_satisfaction_estimate": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "call_type",
                      "call_result",
                      "customer_name",
                      "customer_email",
                      "customer_intent",
                      "needs_follow_up",
                      "agent_confidence",
                      "customer_address",
                      "follow_up_reason",
                      "customer_satisfaction_estimate"
                    ]
                  }
                },
                "messagePlan": {
                  "idleMessageMaxSpokenCount": 3,
                  "idleTimeoutSeconds": 15.2
                },
                "startSpeakingPlan": {
                  "waitSeconds": 2,
                  "smartEndpointingEnabled": "livekit",
                  "smartEndpointingPlan": {
                    "provider": "vapi"
                  }
                },
                "stopSpeakingPlan": {
                  "numWords": 1,
                  "backoffSeconds": 4
                },
                "server": {
                  "url": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
                  "timeoutSeconds": 15
                }
              }
            }
          },
          "webhookUrl": "https://westa.app.n8n.cloud/webhook/728028cb-8f21-4ffe-b841-1cf94fe89682",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Customer Phone Number": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Search Customer Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Contacts1": {
      "main": [
        [
          {
            "node": "Get Customer Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Appointments": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Customer Contacts1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base Retrieval ",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ST MCP Server": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Retrieval ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Internet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Customer Chat History",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Customer Chat History": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Job Agent": {
      "ai_tool": [
        []
      ]
    },
    "Call CRM Agent": {
      "ai_tool": [
        []
      ]
    },
    "Call Appointment Agent": {
      "ai_tool": [
        []
      ]
    },
    "Call Task Agent": {
      "ai_tool": [
        []
      ]
    },
    "Call Note and Tag Agent": {
      "ai_tool": [
        []
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "938adee2-7dee-420b-bbf5-23aa286fc495",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc3eeb695953474e8efcfc49d475389fad42c035300748de34265e023268d39d"
  },
  "id": "mlR9eD9SBVmvzgpd",
  "tags": [
    {
      "createdAt": "2025-05-01T14:26:13.650Z",
      "updatedAt": "2025-05-01T14:26:37.727Z",
      "id": "poXDjs2n0qTwprck",
      "name": "ST MCP Server"
    }
  ]
}